

.jslider div.jslider-bg i.left {
    left: 0;
    width: 100%;
    border-radius: 100px;
	background-color: #d6d6d6;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.jslider div.jslider-bg i.range {
    /* position: absolute; */
    top: 0;
    left: 20%;
    /* width: 60%; */
    height: 5px;
    z-index: 1;
    background-repeat: repeat-x;
    background-position: 0 -47px;
    background-color: #6dc0ce;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.jslider div.jslider-value {
    position: absolute;
    top: -49px;
    left: 0;
    padding: 1px 2px 0;
    /*background: url(../assets/icons/chat.png) no-repeat;*/
    background:#6dc0ce; 
    font-size: 9px;
    line-height: 12px;
    white-space: nowrap;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 3px;
    width: 64px;
    height:34px;
    text-align: center;
    padding-top: 12px;
}
.jslider div.jslider-value:before {
content: " ";
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 20%;
}


.jslider div.jslider-pointer {
    position: absolute;
    top: -4px;
    left: 20%;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-position: 2px -60px;
    margin-left: -8px;
    cursor: pointer;
    cursor: hand;
     -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 9px;
     background: #f5f5f5;
}

.jslider {
    position: relative;
    top: 0.6em;
    cursor: pointer;
    display: block;
    width: 87%;
    height: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 40px;
}
#rangevalue {
    font-size: 18px;
    position: relative;
    margin-bottom: 15px;
    padding: 5px 10px;
    color: #fff;
    background: #6dc0ce;
    box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}