#filtermenu{
    background-color: #fff;
    padding-top: 20px;
    color: #fff;
}
#filtermenu, #navbar-default #navbar-nav>li>a {
    background-color: #fff;
    color: #fff;
   border-bottom: 1px solid #dcdcdc;
    border-width: 1px 0px 1px 1px solid #dcdcdc;

}

/*button color*/
.btn.btn-round {
       margin: 15px 3px;
	text-shadow: none;
	box-shadow: none;
	transition: all 0.12s linear 0s !important;
	color: #fff;
    font-weight: 600;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;

}

.btn-round.color1 {
	background-color:#24c969;
	border-color:#24c969;

}
.btn-round.color2 {
	background-color:#fff;
	border-color:#e1e1e1;
    color: black;

}
.btn-round.color3 {
	background-color:#6dc0ce;
	border-color:#6dc0ce;

}


.btn.btn-round:focus, .btn.btn-round:hover {
    color:#d6d6d6;
}

#buttonfilter
{
    width: 100%;
    float: left;
    padding-left: 100px;
}

#buttonfilter1{
    float: right;
    padding-left: 100px;
}

#reset{
    color: #24c969;
    background-color: #fff;
       border: none;
}

.btn-success {
    color: #fff;
    background-color: #24c969;
    border-color: #24c969;
}
.borderinside{
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    box-shadow: 2px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    }

.buttonleft{
    margin-left: 20px;
}

.colright {
    height: auto;
}
.rzslider .rz-pointer {
    top: 98px;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 100px;
    background-image: linear-gradient(to top, #f0f0f0, #f5f5f5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 0 #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    position: absolute;

}

.rzslider .rz-ticks {
    position: absolute;
    top: 102px;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0;
    padding: 0 11px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.rzslider .rz-bar-wrapper {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    /* padding-top: 16px; */
    margin-top: 40px;
    box-sizing: border-box;
}

.rzslider span {
    position: inherit;
    display: inline-block;
    white-space: nowrap;
}
.rzslider .rz-bar {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background-color: #d6d6d6;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Slider styling */
.slider-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-container h1{
  margin-top: 20px;
  color: #040404;
  font-weight: 400;
  font-size: 1.6em;
}
.slider-container em{
  color: #9c9c9c;
  font-weight: 400;
}
.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  text-alignt: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#rangevalue {
  font-size: 18px;
  position: relative;
  margin-bottom: 15px;
  padding: 5px 10px;
  color: #fff;
    background: #6dc0ce;
  box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
#rangevalue:before{
  content: '$ '
}
#rangevalue:after{
  position: absolute;
  top: 22px;
  right: 20px;
  content: '▾';
  color: #6dc0ce;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#rangevalue1 {
  font-size: 18px;
  position: relative;
  margin-bottom: 15px;
  padding: 5px 10px;
  color: #fff;
    background: #6dc0ce;
  box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
#rangevalue1:before{
  content: '$ '
}
#rangevalue1:after{
  position: absolute;
  top: 22px;
  right: 20px;
  content: '▾';
  color: #6dc0ce;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.price-ranges{
  margin-top: -20px ;
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.price-range{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.price-range p{
  color: #3b5b86;
  font-weight: 600;
}
.price-range p:before{
  content: "\00a0 \00a0 \00a0 \00a0 \00a0";
}
.styled-border{
  padding: 10px 50px;
  margin-bottom: 15px;
  border-bottom: 1px solid #9c9c9c;
  border-left: 1px solid #9c9c9c;
  position: relative;
}
.price-range:last-child > .styled-border{
  border-right: 1px solid #9c9c9c;
}
.styled-border>span{
  color: #9c9c9c;
  position: absolute;
  top: 14px;
  -webkit-transform: scaleY(0.6);
          transform: scaleY(0.6)
}

/* Toggle styling */




input[type=range] {
    display: block;
    width: 90%;
}


