.greyBg{background-color: #efefef;}
footer li{display: block; color: #fff;}
footer {color: #9b9b9b;}
footer .links{color: #444444;font-size: 14px;line-height: 2.3;}
.copyRight{border-bottom: 1px solid #e1e1e1;padding: 20px 0px;    background-color: #fff;}
.footerColHeaders{color: #333333;font-size: 16px;padding-bottom: 10px;font-weight: bold;}
footer a{text-decoration:none; color:#444444; }
footer a:hover{text-decoration:none; color: #24c969}
.shapefb {
	width: 8.5px;
}
.shapetwiter {
	width: 17px;
    margin-left: 14px;
}

.shapegoogle {
	width: 17.5px;
    margin-left: 14px;
}

.shapeinst {
	width: 16.5px;
    margin-left: 14px;
}