@import url("header.css");
@import url("footer.css");
@import url("body.css");

@font-face{
    font-family: proxiNova-reg;
    src: url(../assets/fonts/ProximaNova-Reg.otf);
}
@font-face{
    font-family: proxiNova-Semibold;
    src: url(../assets/fonts/ProximaNova-Semibold.otf);
}
@font-face{
    font-family: proxiNova-light;
    src: url(../assets/fonts/ProximaNova-Light.otf);
}
html {
    font-family: proxiNova-reg;
}
