@import url("header.css");
@import url("footer.css");
@import url("common.css");

@font-face{
    font-family: proxiNova-reg;
    src: url(../assets/fonts/ProximaNova-Reg.otf);
}
@font-face{
    font-family: proxiNova-Semibold;
    src: url(../assets/fonts/ProximaNova-Semibold.otf);
}
@font-face{
    font-family: proxiNova-light;
    src: url(../assets/fonts/ProximaNova-Light.otf);
}
@font-face{
    font-family: HelveticaNeue;
    src: url(../assets/fonts/HelveticaNeue-Thin.otf);
}
body {
    font-family: proxiNova-light;
    letter-spacing: 0.4px;
}

