<style>
    @import url('../css/profilelisting.css');
    @import url('../css/home.css');
    @import url('../css/list.css');
    @import url('../css/loginSignup.css');
</style>

<div class="padding20"></div>
<div class="padding20"></div>



<div class="container containerback ">

    <div class="col-md-3 col-sm-3 col-xs-3 ">
        <div class="row leftborder ">
            <div class="col-md-12 col-sm-12 col-xs-12"><img alt="Avatar" class="img-md img-circle img-border mar-btm" src="http://bootdey.com/img/Content/avatar/avatar4.png">
            </div>
            <h3 class="profilep">Adam Cartlidge</h3>
            <p class="profilepsmall">Belfast, N. Ireland, United Kingdom</p>
            <p class="profilexs"><a href="">Standard User</a> • Since July 2015</p>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-comment"></span></a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Inbox</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger pull-right">6</div>
            </div>

            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-comment"></span></a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Add Property</div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-heart-empty"></span> </a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">My Favourites</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger1 pull-right">9</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">My Listings</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger2 pull-right">6</div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-usd"></span> </a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Wanted Properties</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger3 pull-right">5</div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5">Compare Lineup</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger4 pull-right">6</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-earphone"></span> </a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Call Asking</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger4 pull-right">3</div>
            </div>


            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-pencil"></span> </a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 ">Edit Profile</div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
            </div>


            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-user"></span></a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Add Agent</div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
            </div>

        </div>
    </div>
    <!--col-3 close-->



    <div class="col-md-9 col-sm-9 col-xs-9">

        <div class="row">
            <div class="col-md-6 col-sm-6 c0l-xs-6">
                <h3>Add Agent</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-3"></div>
        </div>
        <hr>
        <div class="row profileborder">
            <div class="col-md-9 col-sm-9 col-xs-9  col-md-offset-1">
                <form>
                    <div class="form-group ">
                        <label for="name">Name</label>
                        <input type="name" class="form-control profiletextbox" id="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control profiletextbox" id="email" placeholder="email">
                    </div>

                    <div class="form-group ">
                        <div class="input-group form-group profiletextbox" id="otp-group">
                            <div class="">
                                <md-select name="countryCode" class="form-control  " placeholder="Country" style="min-width:20%;width:25%; color:#6dc0ce">KSA +966

                                </md-select>
                            </div>

                            <input type="tel" class="form-control" aria-label="..." placeholder="Mobile Number*" maxlength="12" required name="phone" style="width:73%;">

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <br>
        <div class="row profileborder">
            <div class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1">
                <form>
                    <div class="form-group ">

                        <input type="pwd" class="form-control profiletextbox" id="createpwd" placeholder="Create Password">
                    </div>
                    <div class="form-group">

                        <input type="confirmpwd" class="form-control profiletextbox" id="confirmpwd" placeholder="Confirm Password">
                    </div>
                </form>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1"><a href="#" class="btn btn-success">Add Agent</a>
            </div>
        </div>

    </div>
    <!--col-9-close-->




</div>
