<style>
  @import url('../css/completelisting.css');
  @import url('../css/completelistingdetails.css');
  @import url('../css/home.css');
  @import url('../css/loginSignup.css');
</style>
<div class="padding20"></div>
<div class="padding20"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>List Your Property</h3>
    </div>
    <div class="col-md-6">
      <div class="stepwizard">
        <div class="stepwizard-row">
          <div class="stepwizard">
            <button type="button" class="btn btn-success btn-circle"></button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle"></button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle"></button>
          </div>
          <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row ">
    <div class="col-md-6 propertyborder colright">
      <div class="row bottmborder ">
        <div class="col-md-12">
          <h3>Complete You Listing</h3>
        </div>
      </div>
      <div class="row bottmborder">
        <div class="col-md-9"><a href="">Add Photos</a>
          <p>You can add up to 30 property photos.</p>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success btn-circle"></button>
        </div>
      </div>
      <div class="row bottmborder">
        <div class="col-md-9"><a href="">Address</a>
          <p>Enter the full address of your property.</p>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
      <div class="row bottmborder">
        <div class="col-md-9"><a href="">Property Description</a>
          <p>Summarise the highlights of your property. The more detailed and descriptive, the better!</p>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
      <div class="row bottmborder">
        <div class="col-md-9"><a href="">Property Details</a>
          <p>List your properties amenities, choose visiting hours and add specify anything else you wish!</p>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-9"><a href="">Set Price and List Type</a>
          <p>Choose whether this property is to sell / rent and specify your costs!</p>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
    </div>
    <div class="col-md-6 propertyborder colright">
      <div class="row"><a href="">Property Details</a>
        <p>Enter the details of your property.</p>
      </div>
      <div class="row borderinside">
        <div class="col-md-12">
          <h4 class="buttonleft">AMENITIES</h4>
          <div class="buttonleft contentMarginBottom">
            <button type="button" class="btn btn-round" ng-class="currStatus  ? 'color2' : 'color1'"    ng-click="getStatus()" ng-repeat="item in amenityListData" >{{item.name}}</button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 buttonleft"><a href="#" class="btn btn-success">Save Changes</a>
          </div>
        </div>
      </div>
      <div class="row borderinside">
        <h4 class="buttonleft">Features</h4>
        <div class="row"></div>
        <div class="col-md-11 buttonleft" style="position: relative">
          <h4>YEAR OF CONSTRUCTION</h4>
          <div>
            <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" rz-slider-tpl-url="listingDetialsCustom.html"> </rzslider>
          </div>
        </div>
        <div class="row buttonleft">
          <h4>FRONTISPIECE</h4>
          <button type="button" class="btn btn-round color2">North</button>
          <button type="button" class="btn btn-round color1">South</button>
          <button type="button" class="btn btn-round color2">East</button>
          <button type="button" class="btn btn-round color1">West</button>
          <button type="button" class="btn btn-round color2">North - West</button>
          <button type="button" class="btn btn-round color2">North - East</button>
          <button type="button" class="btn btn-round color2">South - East</button>
          <button type="button" class="btn btn-round color2">South - West</button>
        </div>
        <div class="row buttonleft" style="position: relative">
          <h4>CONSTRUCTION AREA</h4>
          <div>
            <div class="slider-container">
              <div class="slider">
                <output id="rangevalue">200 m2</output>
                <input type="range" min="300 m2" max="1200 m2" onchange="rangevalue.value=value" value="30000" /> </div>
              <div class="price-ranges">
                <div class="price-range">
                  <div class="styled-border"> <span>|</span> </div>
                  <p>200 m2</p>
                </div>
                <div class="price-range">
                  <div class="styled-border"> <span>|</span> </div>
                  <p>400 m2</p>
                </div>
                <div class="price-range">
                  <div class="styled-border"> <span>|</span>
                  </div>
                  <p>600 m2</p>
                </div>
                <div class="price-range">
                  <div class="styled-border"> <span>|</span>
                  </div>
                  <p>1000 m2</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 buttonleft"><a href="#" class="btn btn-success">Save Changes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row borderinside">
        <h4 class="buttonleft">Visiting Hours</h4>
        <div class="row"></div>
        <div class="row">
          <div class="slider-container">
            <div class="slider">
              <output id="rangevalue1">200 m2</output>
              <input type="range" min="300 m2" max="1200 m2" onchange="rangevalue1.value=value" value="30000" /> </div>
            <div class="price-ranges">
              <div class="price-range">
                <div class="styled-border"> <span>|</span> </div>
                <p>200 m2</p>
              </div>
              <div class="price-range">
                <div class="styled-border"> <span>|</span> </div>
                <p>400 m2</p>
              </div>
              <div class="price-range">
                <div class="styled-border"> <span>|</span>
                </div>
                <p>600 m2</p>
              </div>
              <div class="price-range">
                <div class="styled-border"> <span>|</span>
                </div>
                <p>1000 m2</p>
              </div>
            </div>
            <h4>Duration: 2 Hours</h4> </div>
        </div>
        <hr>
        <div class="row buttonleft">
          <h4>REPEAT</h4>
          <button type="button" class="btn btn-round color2">Daily</button>
          <button type="button" class="btn btn-round color1">Weekly</button>
        </div>
        <div class="row buttonleft">
          <h4>SELECT DAYS </h4>
          <button type="button" class="btn btn-round color2">Sunday</button>
          <button type="button" class="btn btn-round color2">Monday</button>
          <button type="button" class="btn btn-round color1">Tuesday</button>
          <button type="button" class="btn btn-round color2">Wednesday</button>
          <button type="button" class="btn btn-round color2">Thursday</button>
          <button type="button" class="btn btn-round color2">Friday</button>
          <button type="button" class="btn btn-round color1">Saturday</button>
        </div>
        <hr>
        <div class="">
          <p class="buttonleft">Activity will repeat every week on Saturdays and Tuesdays.</p>
        </div>
        <hr>
        <div class="row buttonleft">
          <h4>CONTACT NUMBER</h4>
          <div class="form-group ">
            <div class="input-group form-group profiletextbox" id="otp-group" style="width:500px;">
              <div class="">
                <md-select name="countryCode" class="form-control  " placeholder="Country" style="min-width:20%;width:25%; color:#6dc0ce">KSA +966 </md-select>
              </div>
              <input type="tel" class="form-control" aria-label="..." placeholder="Mobile Number*" maxlength="12" required name="phone" style="width:73%;"> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 buttonleft"><a href="#" class="btn btn-success">Save Changes</a>
          </div>
          <div class="col-md-6  "><a href="#" class="btn btn-default">Suspend Open Viewings</a>
          </div>
        </div>
      </div>
      <!-- <div class="row borderinside">

            <h4 class="buttonleft">Features</h4>



                <div class="row buttonleft">

                <h4>FRONTISPIECE</h4>

                           <rzslider rz-slider-model="slider.value"
                            rz-slider-options="slider.options"
                            rz-slider-tpl-url="listingDetialsCustom.html">
                           </rzslider>

                </div>

             <div class="row buttonleft">
                 <h4 >FRONTISPIECE</h4>

                 <button type="button" class="btn btn-round color2">North</button>
                 <button type="button" class="btn btn-round color1">South</button>
                 <button type="button" class="btn btn-round color2">East</button>
                 <button type="button" class="btn btn-round color1">West</button>
                 <button type="button" class="btn btn-round color2">North - West</button>
                 <button type="button" class="btn btn-round color2">North - East</button>
                 <button type="button" class="btn btn-round color2">South - East</button>
                 <button type="button" class="btn btn-round color2">South - West</button>

                 </div>

            <div class="row">
            <div class="col-md-6 buttonleft"><a href="#" class="btn btn-success">Save Changes</a></div>
            </div>
          </div>--></div>
    <div class="padding20"></div>
    <div class="padding20"></div>
  </div>