<style>
    @import url('../css/profilelisting.css');
    @import url('../css/home.css');
    @import url('../css/list.css');
    @import url('../css/loginSignup.css');
</style>

<div class="padding20"></div>
<div class="padding20"></div>



<div class="container containerback ">

    <div class="col-md-3 col-sm-3 col-xs-3 ">
        <div class="row leftborder " style="min-height:785px;
">
            <div class="col-md-12 col-sm-12 col-xs-12"><img alt="Avatar" class="img-md img-circle img-border mar-btm" src="http://bootdey.com/img/Content/avatar/avatar4.png">
            </div>
            <h3 class="profilep">Adam Cartlidge</h3>
            <p class="profilepsmall">Belfast, N. Ireland, United Kingdom</p>
            <p class="profilexs"><a href="">Standard User</a> • Since July 2015</p>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Agent Info</div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger pull-right"></div>
            </div>

            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-comment"></span></a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Properties</div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger1 pull-right"></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger2 pull-right"></div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger3 pull-right"></div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger4 pull-right"></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-md-5 col-sm-5 col-xs-5 label label-danger4 pull-right"></div>
            </div>


            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"><a href="#" class="btn btn-default proborder"><span class="glyphicon glyphicon-pencil"></span> </a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">Edit Profile</div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
            </div>


            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
                <div class="col-md-5 col-sm-5 col-xs-5"></div>
            </div>

        </div>
    </div>
    <!--col-3 close-->



    <div class="col-md-9 col-sm-9 col-xs-9">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h3>Agent Profile</h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-3"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 ">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card card-background  ">
                    <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" />
                    </div>
                    <div class="content">


                        <a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove-circle proborder "></span></a>


                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR SALE</button>

                            <a href="#">
                                <h3 class="price">$85821</h3>
                                <p class="pullp">424 W 52ND Street #3 • 5 Bed, 3 Bath </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--col-9-close-->




</div>
