<style>
.chipsdemoBasicUsage .errors {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 10px; }

.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
  .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }

.chipsdemoBasicUsage .custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
  padding-right: 5px; }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/</style>
<script>
    (function () {
  'use strict';
  angular
      .module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
      .config(['$mdIconProvider', function($mdIconProvider) {
        $mdIconProvider.icon('md-close', 'img/icons/ic_close_24px.svg', 24);
      }])
      .controller('BasicDemoCtrl', DemoCtrl);

  function DemoCtrl ($timeout, $q) {
    var self = this;

    self.readonly = false;

    // Lists of fruit names and Vegetable objects
    self.fruitNames = ['Apple', 'Banana', 'Orange'];
    self.roFruitNames = angular.copy(self.fruitNames);
    self.editableFruitNames = angular.copy(self.fruitNames);

    self.tags = [];
    self.vegObjs = [
      {
        'name' : 'Broccoli',
        'type' : 'Brassica'
      },
      {
        'name' : 'Cabbage',
        'type' : 'Brassica'
      },
      {
        'name' : 'Carrot',
        'type' : 'Umbelliferous'
      }
    ];

    self.newVeg = function(chip) {
      return {
        name: chip,
        type: 'unknown'
      };
    };
  }
})();


/**
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
**/
</script>
 <link rel="stylesheet" href="../scripts/Library/bootstrap-3.3.6-dist/css/bootstrap.min.css" >
      <link rel="stylesheet" href="../scripts/Library/bootstrap-select-1.10.0/dist/css/bootstrap-select.css" >
      <link rel="stylesheet" href="../scripts/Library/Hover-master/css/hover-min.css" >
      <link rel="stylesheet" href="../scripts/Library/node_modules/angular-material/angular-material.min.css" >
    <link rel="stylesheet" href="../css/master.css" >
 <link rel="stylesheet" href="../css/footer.css" >
<div ng-controller="BasicDemoCtrl as ctrl" layout="column" ng-cloak="" class="chipsdemoBasicUsage" ng-app="MyApp">

  <md-content class="md-padding" layout="column">
    <h2 class="md-title">Use a custom chip template.</h2>

    <form name="fruitForm">
      <md-chips ng-model="ctrl.roFruitNames" name="fruitName" readonly="ctrl.readonly" md-removable="ctrl.removable" md-max-chips="5">
        <md-chip-template>
          <strong>{{$chip}}</strong>
          <em>(fruit)</em>
        </md-chip-template>
      </md-chips>

      <div class="errors" ng-messages="fruitForm.fruitName.$error">
        <div ng-message="md-max-chips">The maxmium of chips is reached.</div>
      </div>
    </form>

    <br>
    <h2 class="md-title">Use the default chip template.</h2>

    <md-chips ng-model="ctrl.fruitNames" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>


    <br>
    <h2 class="md-title">Make chips editable.</h2>

    <md-chips ng-model="ctrl.editableFruitNames" readonly="ctrl.readonly" md-removable="ctrl.removable" md-enable-chip-edit="true"></md-chips>

    <br>

    <h2 class="md-title">Use Placeholders and override hint texts.</h2>

    <md-chips ng-model="ctrl.tags" readonly="ctrl.readonly" md-removable="ctrl.removable" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag"></md-chips>

    <br>
    <h2 class="md-title">Display an ordered set of objects as chips (with custom template).</h2>
    <p>Note: the variables <code>$chip</code> and <code>$index</code> are available in custom chip templates.</p>

    <md-chips class="custom-chips" ng-model="ctrl.vegObjs" readonly="ctrl.readonly" md-transform-chip="ctrl.newVeg($chip)" md-removable="ctrl.removable">
      <md-chip-template>
        <span>
          <strong>[{{$index}}] {{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
      <button md-chip-remove="" class="md-primary vegetablechip">
        <md-icon md-svg-icon="md-close"></md-icon>
      </button>
    </md-chips>

    <br>
    <md-checkbox ng-model="ctrl.readonly">Readonly</md-checkbox>
    <md-checkbox ng-model="ctrl.removable">
      Removable (<code>{{ctrl.removable === undefined ? 'undefined' : ctrl.removable}}</code>)
    </md-checkbox>
    <p class="md-caption">
      <b>Note</b>: When md-removable is undefined, readonly automatically sets md-removable to false.
    </p>
  </md-content>
</div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../scripts/Library/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
      <script src="../scripts/Library/bootstrap-select-1.10.0/dist/js/bootstrap-select.js"></script>

      <script src="../scripts/Library/node_modules/angular/angular.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
      <script src="../scripts/Library/node_modules/angular-material/angular-material.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
      <script src="../scripts/Library/imageGrid.js"></script>


       <!-- Importing App contollers & services -->
      <script src="../scripts/Application/amakknApp.js"></script>
      <script src="../scripts/Application/Controllers/home.controller.js"></script>
      <script src="../scripts/Application/Controllers/buy.controller.js"></script>
      <script src="../scripts/Application/Controllers/listPropertyies.controller.js"></script>
      <script src="../scripts/Application/Controllers/login.controller.js"></script>
      <script src="../scripts/Application/Controllers/mortgage.controller.js"></script>
      <script src="../scripts/Application/Controllers/rent.controller.js"></script>
      <script src="../scripts/Application/Controllers/sell.controller.js"></script>
      <script src="../scripts/Application/Controllers/signUp.controller.js"></script>
		<script src="../scripts/Application/Directives/passMatch.js"></script>
       <script src="../scripts/Application/Controllers/toaster.controller.js"></script>

      <script src="../scripts/Application/Services/http-service.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
