
<style>
    @import url('../css/list.css');
 @import url('../css/home.css');
@import url('../css/loginSignup.css');
@import url('../css/gallery.css')</style>
<div class="padding20"></div><div class="padding20"></div>
<div class="container">
    <div class="row ">
        <div class="col-sm-6">
            <div class="row">
            <div class="col-md-2 "><p>$2.5M</p></div>
            <div class="col-md-2 "><button type="button" class="btn btn-success ">For Sale</button> </div>
            <div class="col-md-6 "><div class="dropdown ">
  <button class="btn btn-default dropdown-toggle previous" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   EMI Start at $5000
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
                </div>
            </div>
   </div>

    </div>

  <div class="row">
     <div class="col-md-6"><p style="    text-align: justify;">2 Bed, 2 Bath 1575 Sqft Apartments| Posted O:15 June 2016</p></div>
    <div class="col-md-3"><p>Compare this Property</p><span class="icon-balance-scale"></span></div>
    <div class="col-md-3"><a href="#" class="btn btn-default bor"><span class="glyphicon glyphicon-print"></span></a>
      <a href="#" class="btn btn-default bor "><span class="glyphicon glyphicon-thumbs-up"></span></a>
      <a href="#" class="btn btn-default bor"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
      <a href="#" class="btn btn-default bor"> <span class="glyphicon glyphicon-random"></span></a>
      <a href="#" class="btn btn-default bor"> <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
    </div>



    <div class="row">
    <div class="col-md-7 ">

         <div class="row">
                    <div class="col-xs-12 " id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8 cus" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img class="img-responsive"src="http://placehold.it/770x300&text=three"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="http://placehold.it/770x300&text=two"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="http://placehold.it/770x300&text=three"></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="http://placehold.it/770x300&text=four"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="http://placehold.it/770x300&text=five"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="http://placehold.it/770x300&text=six"></div>
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </div>
                            </div>


                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-3">
                                <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/170x100&text=one"></a>
                            </li>

                            <li class="col-sm-3">
                                <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&text=two"></a>
                            </li>

                            <li class="col-sm-3">
                                <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=three"></a>
                            </li>

                            <li class="col-sm-3">
                                <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                            </li>

                        </ul>
                </div>

</div>


       <div class="col-md-5">
        <div class="row profile">	<div class="col-md-9">
            <div class="profile-content text-center">
			   PROPERTY LISTED & MANAGED BY
            </div>
            <hr>
		</div>
		<div class="col-md-9">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic ">
					<img src="https://cdn2.iconfinder.com/data/icons/financial-circle/512/client-128.png" class="img-responsive propic" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle ">
					<div class="profile-usertitle-name text-center">
						Hector Scesa
					</div>
					<div class="profile-usertitle-job text-center">
						DNI 29.498.854
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS --><br>
				<div class="profile-userbuttons text-center ">
					<button type="button" class="btn btn-success btn-sm ">Company Profile</button>
					<button type="button" class="btn btn-danger btn-sm ">See All Listing</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<br>
                <div class="profile-usertitle ">
					<div class="profile-usertitle-name text-center">
						Agent Name
					</div>
					<div class="profile-usertitle-job text-center">
						Ghassan Salah(BRN:30723)
					</div>
				</div>

                <div class="profile-usertitle ">
					<div class="profile-usertitle-name text-center">
						Real Estate Agency Details
					</div>
					<div class="profile-usertitle-job text-center">
						Saudi Real Estate(RERA ORN:12945)
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS --><br>
				<div class="profile-userbuttons text-center ">
					<button type="button" class="btn btn-success btn-sm text-center">Call Broker</button>
					<button type="button" class="btn btn-danger btn-sm text-center">Live Caht</button>
				</div>

			</div>
		</div>
		<div class="col-md-12"><br>
            <div class="col-md-6">424 E 58th Street #10-F, C-wing New York Ny, 10022 Sutton Place</div>
            <div class="col-md-6">Map</div>
            </div>
	</div>


        </div>

    </div>


    <hr>
    <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">OVERVIEW</div>
        </div>

        <div class="row">
        <div class="col-md-12">Real Esate Overview for 424 E 58 th Street #10-F</div>
        </div>
        <div class="row">
        <div class="col-md-6">Property Type</div>
        <div class="col-md-6">Apartment</div>
        </div>
        <div class="row">
        <div class="col-md-6">Price</div>
        <div class="col-md-6">$1,190,00</div>
        </div>
        <div class="row">
        <div class="col-md-6">Beds</div>
        <div class="col-md-6">2</div>
        </div>
        <div class="row">
        <div class="col-md-6">Bathrooms</div>
        <div class="col-md-6">2</div>
        </div>
        <div class="row">
        <div class="col-md-6">Parking</div>
        <div class="col-md-6">0</div>
        </div>
        <div class="row">
        <div class="col-md-6">Floor</div>
        <div class="col-md-6">4th</div>
        </div>
        <div class="row">
        <div class="col-md-6">Construction Area</div>
        <div class="col-md-6">$23.73 m2</div>
        </div>
        <div class="row">
        <div class="col-md-6">Days on Amakkn</div>
        <div class="col-md-6">11 days</div>
        </div>
        <div class="row">
        <div class="col-md-6">Total Views</div>
        <div class="col-md-6">383</div>
        </div>


    </div>
         <div class="col-md-6">
        <div class="row">
        <div class="col-md-12">VISITING HOURS</div>
        </div>

        <div class="row">
        <div class="col-md-8">
            <div class="col-md-2">Monday</div>
            <div class="col-md-4"><button type="button" class="btn btn-success btn-sm text-center">Open Now</button></div>
            <div class="col-md-6">2:00PM to 4:00PM</div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">Friday</div>
            <div class="col-md-6"></div>
            <div class="col-md-6">2:00Pm to 4:00PM</div>
            </div>
        </div>

        </div>
         </div>

         <div class="row">
        <div class="col-md-6">
            <p style="text-align: justify;">In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing and always evolving features and capabilities. </p>

<p style="text-align: justify;">Free to air satellite TV channels are free. You can connect your receiver up to multiple satellite dishes and point your dish at different satellites in space. There are thousands of 100% free satellites in space with limited channels per satellite. Some free to air channels include PBS, International channels, and locals.</p>

<p style="text-align: justify;">Because the keys are constantly changing and always need to be entered manually each time a key change occurs, this presents a problem and inconvenience to the user. This is why people program files called autoroll bins on to their receivers.</p>

<p style="text-align: justify;">Usually people get their autoroll bin files from sources like FTA Support websites. FTA Support sites offer a complete support service to their members giving them all the software, files, keys, and online technical support they’ll ever need to keep themsselves always up and watching TV. </p>


            </div>
              <div class="col-md-6">
        <div class="row">
        <div class="col-md-12">VISITING HOURS</div>
        </div>

        <div class="row">
        <div class="col-md-8">
            <div class="col-md-2">Monday</div>
            <div class="col-md-4"><button type="button" class="btn btn-success btn-sm text-center">Open Now</button></div>
            <div class="col-md-6">2:00PM to 4:00PM</div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">Friday</div>
            <div class="col-md-6"></div>
            <div class="col-md-6">2:00Pm to 4:00PM</div>
            </div>
        </div>

        </div>
        </div>


        <div class="row">
            <div class="col-md-6">
            <div class="col-md-12">FEATURES</div>
            <div class="row">
            <div class="col-md-3">Elevetors</div>
            <div class="col-md-3">East Face</div>
            <div class="col-md-3">Fireplace</div>
            <div class="col-md-3">Maid Room</div>
            </div>

             <div class="row">
            <div class="col-md-3">Park </div>
            <div class="col-md-3">Surround Road</div>
            <div class="col-md-3">Pool</div>
            <div class="col-md-3">Driver Room</div>
            </div>
             <div class="row">
            <div class="col-md-3">Club Houses</div>
            <div class="col-md-3">Playgrounds</div>
            <div class="col-md-3">Garage</div>
            <div class="col-md-3">Guest Parking</div>
            </div>
             <div class="row">
            <div class="col-md-3">Club Houses</div>
            <div class="col-md-3">Playgrounds</div>
            <div class="col-md-3">Garage</div>
            <div class="col-md-3">Guest Parking</div>
            </div>
             <div class="row">
            <div class="col-md-3">Malls </div>
            <div class="col-md-3">Gym </div>
            <div class="col-md-3">Shoping Centers</div>
            <div class="col-md-3">Church</div>
            </div>
            <div class="row">
            <div class="col-md-3">Freeway </div>
            <div class="col-md-3">Highway </div>
            <div class="col-md-3">Yoga Centers</div>
            <div class="col-md-3">Mosque</div>
            </div>
        </div>
            <div class="col-md-6">
        <div class="row">
        <div class="col-md-12">VISITING HOURS</div>
        </div>

        <div class="row">
        <div class="col-md-8">
            <div class="col-md-2">Monday</div>
            <div class="col-md-4"><button type="button" class="btn btn-success btn-sm text-center">Open Now</button></div>
            <div class="col-md-6">2:00PM to 4:00PM</div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">Friday</div>
            <div class="col-md-6"></div>
            <div class="col-md-6">2:00Pm to 4:00PM</div>
            </div>
        </div>

        </div>
        </div>





     <div class="row">
         <div class="col-md-12">NEIGHBORHOOD INFO</div>
        <div class="col-md-6"><img class="img-responsive" src="../assets/icons/map.svg"></div>
        </div>


     <div class="row">
         <div class="col-md-12">FLOOR PLAN</div>
        <div class="col-md-6"><img class="img-responsive" src="../assets/icons/map.svg"></div>
        </div>
    </div>

<script>
  jQuery(document).ready(function($) {

        $('#myCarousel').carousel({
                interval: 5000
        });

        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});</script>


