
<style>
    @import url('../css/completelisting.css');
  @import url('../css/home.css');

</style>
<div class="padding20"></div>
<div class="padding20"></div>
<div class="container">
<div class="row">
    <div class="col-md-6"><h3>List Your Property</h3></div>
    <div class="col-md-6"><div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard">
            <button type="button" class="btn btn-success btn-circle"></button>

        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle"></button>

        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle"></button>

        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled"></button>

        </div>
    </div>
</div>
    </div>
            </div>
    <hr>


    <div class="row ">
    <div class="col-md-6 propertyborder colright">
        <div class="row bottmborder ">
        <div class="col-md-12"><h3>Complete You Listing</h3></div>
        </div>
        <div class="row bottmborder">
        <div class="col-md-9"><a href="">Add Photos</a><p>You can add up to 30 property photos.</p></div>
        <div class="col-md-3"> <button type="button" class="btn btn-success btn-circle"></button></div>
        </div>
        <div class="row bottmborder">
        <div class="col-md-9"><a href="">Address</a><p>Enter the full address of your property.</p></div>
        <div class="col-md-3"> <button type="button" class="btn btn-default btn-circle"></button></div>
        </div>
        <div class="row bottmborder">
        <div class="col-md-9"><a href="">Property Description</a><p>Summarise the highlights of your property. The more detailed and descriptive, the better!</p></div>

        <div class="col-md-3"> <button type="button" class="btn btn-default btn-circle"></button></div>
        </div>
        <div class="row bottmborder">
        <div class="col-md-9"><a href="">Property Details</a><p>List your properties amenities, choose visiting hours and add specify anything else you wish!</p></div>
        <div class="col-md-3"> <button type="button" class="btn btn-default btn-circle"></button></div>
        </div>
       <div class="row ">
        <div class="col-md-9"><a href="">Set Price and List Type</a><p>Choose whether this property is to sell / rent and specify your costs!</p></div>
        <div class="col-md-3"> <button type="button" class="btn btn-default btn-circle"></button></div>
        </div>



        </div>
        <div class="col-md-6 propertyborder colright">
        <div class="col-md-12"><a href="">Add Photos</a><p>You can add up to 30 property photos.</p></div>



        <div class="center " > <div class="stepwizard-step ">
            <button type="button" class="btn btn-default btn-circleplus "><span class="glyphicon glyphicon-plus"></span></button>

        </div></div>
        </div>

    </div>

    <div class="padding20"></div>
<div class="padding20"></div>
    </div>

