<div class="container-fluid greyBg">
            <div class="row">&nbsp;</div>
            <div class="col-md-9 col-md-offset-2">
            <div class="col-md-3 col-sm-6 links">
                <ul id="cssmenu">
                    <li class="footerColHeaders">Top Real Estate Markets</li>

                    <li><a href="">San Diego real estate</a></li>
                    <li><a href="">Miami real estate</a></li>
                    <li><a href="">Chicago real estate</a></li>
                    <li><a href="">Las Vegas real estate</a></li>
                    <li><a href="">Queens real estate</a></li>
                    <li><a href="">Austin real estate</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">Explore Amakkn</li>

                    <li><a href="">Homes for Sale</a></li>
                    <li><a href="">Rentals</a></li>
                    <li><a href="">Houses for Rent</a></li>
                    <li><a href="">Apartments for Rent</a></li>
                    <li><a href="">Real Estate Advice</a></li>
                    <li><a href="">Real Estate Apps</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">For Professionals</li>

                    <li><a href="">Stats &amp; Trends</a></li>
                    <li><a href="">Tools &amp; Extras</a></li>
                    <li><a href="">Home Price Maps</a></li>
                    <li><a href="">U.S. Property Records</a></li>
                    <li><a href="">Popular Counties</a></li>
                    <li><a href="">Rental Communities</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">About Amakkn</li>

                    <li><a href="">About</a></li>
                    <li><a href="">About Zillow Group</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Investor Relations</a></li>
                    <li><a href="">Advertising Terms</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>
            </div>
        </div>
