<style>
    @import url('../css/home.css')

</style>
<style>
@import url('../css/grid.css')</style>

<header data-ng-switch on="selection">
    <img src="../assets/images/image@2x.png" alt="Your city" class="img-responsive"  data-ng-switch-when="banner">
    <div class="container greyBtmBorder"  data-ng-switch-when="map">
        <h1>Buy page loaded......</h1>
    </div>
        <div class="header-content">
            <div class="header-content-inner">

                <div class="text-center brandName marginTB20"><img src="../assets/images/logo-header.svg" alt="Amakkn"></div>

                <div class="text-center"><h3 class="marginTB40">Helping you to find right place</h3></div>

                <div class="row vertical-align">
                    <div class="col-md-3 "><button type="button" class="btn btn-default roundedBtn disabled"><span class="glyphicon glyphicon-menu-left buttonLR" aria-hidden="true"></span></button></div>


                    <div class="col-md-6  searchOption text-center">
                        <div class="panel panel-default col-md-10 col-md-offset-1 noPadding">
                          <div class="panel-body">
                            <div class= "btn-group btn-group-justified" role="group" >
                                <div class="
                                            btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-lg"> Buy </button>
                                </div>
                               <div class="
                                           btn-group" role="group">
                                   <button type="button" class="btn btn-default btn-lg">Rent</button>                                </div>
                               <div class=" btn-group" role="group">
                                   <button type="button" class="btn btn-default btn-lg">Sell</button>
                                </div>
                              </div>

                              <div class="row padding20 ">
                                <form>
                                <div class="col-md-7 col-sm-7">
                                    <input type="text" class="form-control noBorder"  placeholder="Enter a City, Address or ZIP Code">
                                </div>
                                <div class="col-md-3 col-sm-3 paddingLR10 text-right">
                                    <div class="">
  <button type="button" class="btn btn-default dropdown-toggle customHeaderColor " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Property Type <span class="glyphicon glyphicon-menu-down fontSize14"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
                                </div>
                                  <div class="col-md-2 col-sm-2 paddingLR10">
                                    <button type="submit" class="btn btn-default greenBtn" >Search</button>
                                </div>
                                </form>
                              </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3 "><button type="button" class="btn btn-default roundedBtn pull-right"  data-ng-click="selection = 'map'" value="map"><span class="glyphicon glyphicon-menu-right buttonLR" aria-hidden="true"></span></button></div>

                </div>
            </div>
        </div>
</header>
<div class="container greyBtmBorder">
         <div class= "text-center ">
             <h1>Recently Listed</h1>
             <h5>Dubai, United Arab Emirates</h5>
        </div>
          <div id="grid" data-columns>
	<div class="column size-1of3">
		<div class="col-md-3 col-sm-4 col-xs-6">Item #1</div>
		<div class="col-md-3 col-sm-4 col-xs-6">Item #4</div>
		<div class="col-md-3 col-sm-4 col-xs-6">Item #4</div>
	</div>
	<div class="column size-1of3">
		<div class="col-md-3 col-sm-4 col-xs-6">Item #1</div>
		<div class="col-md-3 col-sm-4 col-xs-6">Item #4</div>
		<div class="col-md-3 col-sm-4 col-xs-6">Item #4</div>
	</div>
	<div class="column size-1of3">
		<div class="col-md-3 col-sm-4 col-xs-6">Item #1</div>
		<div class="col-md-3 col-sm-4 col-xs-6">Item #4</div>
		<div class="col-md-3 col-sm-4 col-xs-6">Item #4</div>
	</div>
</div>
          <div class= "text-center ">
             <h1>Why Amakkn?</h1>
         </div>

          <div class="row">
              <div class="col-md-12 ">
                 <p> In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing and always evolving features and capabilities. FTA receivers these days are gaining popularity all over. Starting initially in Europe, the craze spread globally shortly after. With FTA satellite TV being available in almost every country across the globe, FTA satellite is the wave of the TV future.</p>

                 <p>Free to air satellite TV channels are free. You can connect your receiver up to multiple satellite dishes and point your dish at different satellites in space. There are thousands of 100% free satellites in space with limited channels per satellite. Some free to air channels include PBS, International channels, and locals. These companies broadcast their signal for free. The majority of people with FTA receivers don’t point their dishes at these satellites. Infact, people all over the world including North America are reprogramming their boxes so they can point their dishes at real satellite TV and watch channels for free.  This is actually where FTA keys come into play. In order to watch FTA satellite TV this way. You need to be constantly entering what are called FTA keys or Dish keys into your receiver so that your receiver can keep itself updated with the satellites in space. This enables you to watch TV.</p>


<a href="#" class="btn btn-success greenBtn">Find Out More</a>

              </div>
          </div>

          <hr>
          <div class= "text-center ">
             <h1>What Our User Says...</h1>
          </div>

          <div class="row">
           <div class="col-md-4">Binesh Walla image</div>
           <div class="col-md-4">Adam Cartlidge image</div>
           <div class="col-md-4">Gary Howe image</div>
          </div>

         <hr>
           <div class= "text-center ">
             <h1>Live Realtor Advice</h1>
               <h5>Lorem ipsum dolor sit amet, condectetur adipiscing elit. Mauris viverra rutrum mauris.</h5>
           </div>

           <div class="row">
           <div class="col-md-4">Expert Advice</div>
           <div class="col-md-4">Compare</div>
           <div class="col-md-4">Calculators</div>
          </div>

  <br>

    <div  id="footer" >

         <div class="row">
         <div class="col-xs-12 col-md-offset-1">Get Our New App
         </div>

           <div class="row">
              <div class="col-md-5 col-md-offset-1">Introducing our brand new iOS and Android apps, with all the features you’ve grown to love.
              </div>
           </div>

          <div class="row">
             <div class="col-md-5 col-md-offset-1">Do you want to download free song for ipod? If so, reading this article could save you from getting in to a lot of trouble! Downloading music to your Ipod has more than one pitfall associated with it, and this article will tell you the best way to download free song for Ipod.
             </div>
            <div class="col-md-4 col-md-offset-1 "><img src="../assets/mobs@3x.png" alt="Your city" class="img-responsive">
            </div>
              <div class="row">
            <div class="col-xs-2 col-md-offset-1"><img src="../assets/images/google-play.png" alt="Your city" class="img-responsive">
            </div>
            <div class="col-xs-2 col-md-offset-1 "><img src="../assets/images/img-app-store.png" alt="Your city" class="img-responsive">
           </div></div>
        </div>


        <div class="row">
           <div class="col-xs-6 col-md-offset-1"><img src="../assets/icons/app-icon.png" alt="Your city" class="img-responsive">
        </div>
        </div>




     </div>
  </div>



