<style>
    @import url('../css/home.css');
    @import url('../css/grid.css');
    @import url('../css/filtermenu.css');
    @import url('../css/propertytype.css');

</style>


<header data-ng-switch on="selection"  class="mapViewFil">


    <div class="container  noPadding"  data-ng-switch-when="map" style="width:100%;height:768px;">
        <nav class="navbar navbar-default " style="margin-top:40px;">
          <div class="container-fluid container-fluidmenu " id="filtermenu">
              <div class="col-md-12 col-sm-12 col-xs-12 menushadow-nav">
                  <div class="col-md-2 col-sm-2 col-xs-2 "></div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only ">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse col-md-3  col-sm-3 col-xs-3 menubar2padding" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">



                   <li class="dropdown list ">
                  <a href="" class="dropdown-toggle active " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy <span class="caret"></span></a>
                  <ul class="dropdown-menu ">

                    <li><a href="">Buy</a></li>
                    <li><a href="">Rent</a></li>
                    <li><a href="">Sell</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="">One more separated link</a></li>
                  </ul>
                </li>

              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" style="min-width:90%;border:none;" placeholder="Enter a City, Address or ZIP Code" places-auto-complete size=80 ng-model="vm.address"  on-place-changed="placeChanged()"><a href="" class="btn btn-default" style="border:none;"><span class="glyphicon glyphicon-send" ></span> </a>
                </div>
                <a href="#listMap"><button type="button" class="btn btn-success" >Search</button></a>

              </form>

              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown list">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Property Type <span class="caret"></span></a>
                 <ul class="dropdown-menu propertyborder groupwidth">

                         <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"><h3 class="property">Apartment, House / Villa, Office, Warehouse</h3></div>
            </div><hr>


                             <div class="col-md-12 col-sm-12 col-xs-12 "><p class="filterp" > Residential Properties</p>
        <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu ">Apartment</button>
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu ">House / Villa</button>
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu ">Land / Plot</button>

        </div>
                             <div class="col-md-12 col-sm-12 col-xs-12 " style="margin-bottom: 11px;"><p class="filterp" >Commercial Properties</p>
                                 <div class="row">
                                     <div class="col-md-12 ">
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu">Office</button>
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu ">Showroom</button>
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu ">Commercial Site</button>
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu ">Industrial</button>
                                 <button type="button" class="btn btn-primary btn-round-sm btn-sm btnmenu " style="    margin-top: 10px;">Warehouse</button></div></div>
        </div>


                  </ul>
                </li>
                  <li class="dropdown list" >
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Price Range <span class="caret"></span></a>
                  <ul class="dropdown-menu propertyborder groupwidth" style="padding-bottom:10px;">
                      <li><a href="" class="filterp" >From $550,000 to $1M</a></li><br>
                      <input ng-model="value7" type="text" id="mySlider1" slider options="options" />
                      <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
<div class="col-md-12 filterp"><button class="btn btn-success" type="button" >DONE</button></div>

                  </ul>
                </li>

                  <li class="dropdown list">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bed/Baths<span class="caret"></span></a>
                  <ul class="dropdown-menu propertyborder groupwidth">

                         <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: -34px;"><h3 class="property">3+ Bedrooms, 2+ Bathrooms</h3></div>
            </div><hr>
                         <div class="col-md-12 col-sm-12 col-xs-12">

                             <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3"><p class="filterp" >Minimum Bedrooms</p></div> <div class="col-md-12 col-sm-6 col-xs-6 "> <div  ng-init="showDatafilter()">
    <div class="pagination pagination-centered" ng-show="datalistsfilter.length">
        <div class="row pagination-controle pagination">
        <div class="col-md-3"><button type="button" class="btn btn-primary btn-pri" ng-disabled="curPagefilter == 0"
 ng-click="curPagefilter=curPagefilter-1">  -</button></div>

 <div class="col-md-6 addspans"> {{curPagefilter+1}} Bedrooms <!--{{ numberOfPages3() }}--></div>

 <div class="col-md-2 "><button type="button" class="btn btn-primary next"
 ng-disabled="curPagefilter >= datalistsfilter.length/pageSizefilter - 1"
 ng-click="curPagefilter = curPagefilter+1">+ </button></div>
        </div>
</div>

</div></div>
                             <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3"><p class="filterp" >Maximum Bedrooms</p></div> <div class="col-md-12 col-sm-6 col-xs-6 "> <div  ng-init="showDatafilter1()">
    <div class="pagination pagination-centered" ng-show="datalistsfilter1.length">
        <div class="row pagination-controle pagination">
        <div class="col-md-3"><button type="button" class="btn btn-primary btn-pri" ng-disabled="curPagefilter1 == 0"
 ng-click="curPagefilter1=curPagefilter1-1">  -</button></div>

 <div class="col-md-6 addspans"> {{curPagefilter1+1}} Bedrooms <!--{{ numberOfPages3() }}--></div>

 <div class="col-md-2 "><button type="button" class="btn btn-primary next"
 ng-disabled="curPagefilter1 >= datalistsfilter1.length/pageSizefilter1 - 1"
 ng-click="curPagefilter1 = curPagefilter1+1">+ </button></div>
        </div>
</div>

</div></div>
                         </div>

                  </ul>
                </li>
                  <li class="dropdown list">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="">Separated link</a></li>
                  </ul>
                </li>

              </ul>
            </div><!-- /.navbar-collapse -->
              </div>
          </div><!-- /.container-fluid -->
        </nav>

        <ng-map zoom="15" center="current-position"  scrollwheel="false" style="height:100%" zoom-to-include-markers="auto" street-view-control="false">
            <custom-marker ng-repeat="p in positions" position="{{p.pos}}" title="pos: {{p.pos}}">
                <div>{{p.price}}</div>
            </custom-marker>
          </ng-map>
            <div class=" header-content" style="padding: 0px 30px;">
                    <div class="pull-left "><button type="button" class="btn btn-default roundedBtn  visible-lg visible-md" ng-click="switchBanner()"><span class="glyphicon glyphicon-menu-left buttonLR" aria-hidden="true"></span></button></div>


                <div class="pull-right"><button type="button" class="btn btn-default roundedBtn pull-right visible-lg visible-md disabled"  value="map" ><span class="glyphicon glyphicon-menu-right buttonLR" aria-hidden="true"></span></button></div>

            </div>
            <div class="text-center gray-cicle" >
                  <a href="" class="btn btn-default " id="gray" ng-click="switchBanner()">
                      <img src="../assets/icons/icon.png"  >
                  </a>
                  <a href="" class="btn btn-sec disabled" id="gray" >
                    <img src="../assets/icons/map-icon.png" class="disabled">
                  </a>
              </div>

    </div>
    <div data-ng-switch-when="banner" class="banner_img hide-xs">

        <div class="text-center" style="top:20%;position:relative;">
            <div class="row " ><img src="../assets/images/logo.svg" alt="Amakkn" ></div>
            <div class="row "><h3>Helping you to find right place</h3></div>
            <div class="header-content" style="padding: 0px 30px; top: 80%;">
                    <div class="pull-left "><button type="button" class="btn btn-default roundedBtn  visible-lg visible-md hide-xs disabled"><span class="glyphicon glyphicon-menu-left buttonLR" aria-hidden="true"></span></button></div>


                <div class="pull-right"><button type="button" class="btn btn-default roundedBtn pull-right visible-lg visible-md hide-xs "  value="map" ng-click="switchMap()"><span class="glyphicon glyphicon-menu-right buttonLR" aria-hidden="true"></span></button></div>

            </div>
            <div class="row marginTB20 visible-md visible-lg hide-xs">
                 <md-content class="md-padding searchBox" >
                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                      <md-nav-item md-nav-click="goto('buy')" name="buy">Buy</md-nav-item>
                      <md-nav-item md-nav-click="goto('rent')" name="rent">Rent</md-nav-item>
                      <md-nav-item md-nav-click="goto('sell')" name="sell">Sell</md-nav-item>
                    </md-nav-bar>
                    <div class="ext-content">
                        <div class="" style="padding-top: 20px;">
                            <input type="text" class="form-control noBorder"  placeholder="Enter a City, Address or ZIP Code" style="width:60%;" places-auto-complete size=80 ng-model="vm.address"  on-place-changed="placeChanged()" />

                            <md-select placeholder="All Properties" ng-model="user" md-on-open="loadUsers()"  id="md-select" style="color:#fff;width:141px;height:35px;margin:0px 20px;" >
                                <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                            </md-select>

                            <a href="#listMap" style="color:#fff;text-decoration:none;"><button type="submit" class="btn btn-default greenBtn" style="width:74px;height:35px;">Search</button></a>
                        </div>
                    </div>
                </md-content>
            </div>


        </div>
        <div class="text-center"  style="bottom:0;position:absolute;width:100%;padding-bottom:30px;">
                  <a href="" class="btn btn-default disabled" id="gray" >
                      <img src="../assets/icons/icon.png" >
                  </a>
                  <a href="" class="btn btn-default" id="gray"  ng-click="switchMap()">
                    <img src="../assets/icons/map-icon.png" >
                  </a>
              </div>

    </div>
    
    <!--mobile device-->
    
    
     <div data-ng-switch-when="banner" class="banner_img hide-lg hide-md visible-xs">

        <div class="text-center" style="top:20%;position:relative;">
          
            <div class="row " >
              <div class="col-md-12"> <img src="../assets/images/logo.svg" alt="Amakkn" ></div></div> 
            
            <div class="row "><div class="col-xs-12"><h5>Your Home to Buying, Renting and Sales.</h5></div></div>
            
            <div class="header-content" >
                    <div class="pull-left "><button type="button" class="btn btn-default roundedBtn  hide-lg hide-md hide-xs disabled"><span class="glyphicon glyphicon-menu-left buttonLR" aria-hidden="true"></span></button></div>


                <div class="pull-right"><button type="button" class="btn btn-default roundedBtn pull-right hide-lg hide-md hide-xs"  value="map" ng-click="switchMap()"><span class="glyphicon glyphicon-menu-right buttonLR" aria-hidden="true"></span></button></div>

            </div>
            <div class="row  hide-md hide-lg visible-xs">
                <div class="col-xs-12 text-center">
                 <md-content class="md-padding searchBox_md " style="width: 345px;
    height: 120px;
    margin: 0px auto;
    
    background: #fff;
    border-radius: 5px;" >
                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                      <md-nav-item md-nav-click="goto('buy')" name="buy">Buy</md-nav-item>
                      <md-nav-item md-nav-click="goto('rent')" name="rent">Rent</md-nav-item>
                      <md-nav-item md-nav-click="goto('sell')" name="sell">Sell
                        
                        </md-nav-item>
                    </md-nav-bar>
                    <div class="ext-content">
                       
                        <div class="row" style="padding-top: 20px; ">
                           <div class="col-xs-8"> <input type="text" class="form-control noBorder"  placeholder="What are you Looikng For?" style="" places-auto-complete size=80 ng-model="vm.address"  on-place-changed="placeChanged()" /></div>

                           <div class="col-xs-4 col-xs-offset-0"> <a href="#listMap" style="color:#fff;text-decoration:none;"><button type="submit" class="btn btn-default greenBtn" >Search</button></a></div>
                        </div>
                        
                        
                        
                    </div>
                     
                     
                     
                </md-content>
                    </div>
            </div>


        </div>
        <div class="text-center"  style="bottom:0;position:absolute;width:100%;padding-bottom:7px;">
                  <a href="" class=" disabled" >
                     <span class="glyphicon glyphicon-record"></span>
                  </a>
                  <a href="" class=""  ng-click="switchMap()">
                    <i class="glyphicon glyphicon-send"></i>
                  </a>
              </div>

    </div>
     
    
    
    
</header>

<div style="background:#fff; ">
         <div class= "text-center padding20">
             <h1>Recently Listed</h1>
             <h5>Dubai, United Arab Emirates</h5>
        </div>

    <div class="container hide-xs">
    <div class="col-md-4 col-sm-4 col-xs-4 noPadding">
        <div class="girdcls margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class="girdcls3 margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class="girdcls5 margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;">
                <a href="" ng-init="this.isFav = false" ng-click="isFavTog(this)">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="this.isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="this.isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 noPadding">
        <div class=" girdcls1 margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;">
                <a href="" ng-init="this.isFav = false" ng-click="isFavTog(this)">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="this.isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="this.isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class=" girdcls4 margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
         <div class="girdcls6 margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 noPadding">
        <div class=" girdcls2 margin10" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class=" girdcls7 margin10">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:33px;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
    </div>

    </div>
    
    <!--gallery-->
    
    <div class="container">
    <div class="col-xs-4 noPadding hide-md hide-sm visible-xs ">
        <div class="girdcls margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav" class="img-responsive">
                    <img src="../assets/icons/liked-copy.svg " alt="favorite" ng-show="isFav" class="img-responsive">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class="girdcls3 margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class="girdcls5 margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;">
                <a href="" ng-init="this.isFav = false" ng-click="isFavTog(this)">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="this.isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="this.isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 noPadding hide-md hide-sm visible-xs">
        <div class=" girdcls1 margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;">
                <a href="" ng-init="this.isFav = false" ng-click="isFavTog(this)">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="this.isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="this.isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class=" girdcls4 margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
         <div class="girdcls6 margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
    </div>
    <div class=" col-xs-4 noPadding hide-md hide-sm visible-xs">
        <div class=" girdcls2 margin10 img-responsive" style="position:relative;">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:0;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
        <div class=" girdcls7 margin10 img-responsive">
            <div style="top:0;float:right;padding:20px;" ng-click="isFav = {false:true, true:false}[isFav]">
                <a href="" ng-click="isFav = {false:true, true:false}[isFav]">
                    <img src="../assets/icons/shape.svg" alt="favorite" ng-hide="isFav">
                    <img src="../assets/icons/liked-copy.svg" alt="favorite" ng-show="isFav">
                </a>
            </div>
            <div style="position: absolute;bottom:33px;margin-left:20px;">
                <h4>$345,000</h4>
                <p>3 Bedroom Penthouse Apartment</p>
            </div>
        </div>
    </div>

    </div>
    
    
    
    
    
    <div class= "text-center ">
             <h1>Why Amakkn?</h1>
         </div>

          <div class="row">
              <div class="col-md-8 col-sm-8  col-md-offset-2 hide-xs">
                 <p style="padding: 0% 2%;"> In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing and always evolving features and capabilities. FTA receivers these days are gaining popularity all over. Starting initially in Europe, the craze spread globally shortly after. With FTA satellite TV being available in almost every country across the globe, FTA satellite is the wave of the TV future.</p>

                 <p style="padding: 0% 2%;">Free to air satellite TV channels are free. You can connect your receiver up to multiple satellite dishes and point your dish at different satellites in space. There are thousands of 100% free satellites in space with limited channels per satellite. Some free to air channels include PBS, International channels, and locals. These companies broadcast their signal for free. The majority of people with FTA receivers don’t point their dishes at these satellites. Infact, people all over the world including North America are reprogramming their boxes so they can point their dishes at real satellite TV and watch channels for free.  This is actually where FTA keys come into play. In order to watch FTA satellite TV this way. You need to be constantly entering what are called FTA keys or Dish keys into your receiver so that your receiver can keep itself updated with the satellites in space. This enables you to watch TV.</p>

<div class="text-center padding20">
<a href="" class="btn btn-default greenBtn btn-lg">Find Out More</a></div><div class="padding20"></div>

              </div>
          </div>
    
    
    
    <div class="row">
              <div class=" col-xs-10 col-md-offset-2 hide-md hide-sm visible-xs " >
                 <p style="padding: 0% 10%;"> In the last five to six years the FTA satellite receiver has become an everyday household electronic device. People all over the world are buying free to air receivers because of their growing and always evolving features and capabilities. FTA receivers these days are gaining popularity all over. Starting initially in Europe, the craze spread globally shortly after. With FTA satellite TV being available in almost every country across the globe, FTA satellite is the wave of the TV future.</p>

                 <p style="padding: 0% 10%;">Free to air satellite TV channels are free. You can connect your receiver up to multiple satellite dishes and point your dish at different satellites in space. There are thousands of 100% free satellites in space with limited channels per satellite. Some free to air channels include PBS, International channels, and locals. These companies broadcast their signal for free. The majority of people with FTA receivers don’t point their dishes at these satellites. Infact, people all over the world including North America are reprogramming their boxes so they can point their dishes at real satellite TV and watch channels for free.  This is actually where FTA keys come into play. In order to watch FTA satellite TV this way. You need to be constantly entering what are called FTA keys or Dish keys into your receiver so that your receiver can keep itself updated with the satellites in space. This enables you to watch TV.</p>

<div class="text-center padding20">
<a href="" class="btn btn-default greenBtn btn-lg">Find Out More</a></div><div class="padding20"></div>

              </div>
          </div>
    

          <hr>


         <div class="item team" id="team1">

    		<div class="container">

    			<div class="row margin-bottom-40">

    				<div class="col-md-12 col-sm-12 col-xs-12">

    					<div class= "text-center padding20">
             <h1>What Our User Says...</h1>
          </div>

    				</div><!-- /.col-md-12 -->

    			</div><!-- /.row -->

    			<div class="row margin-bottom-20 text-center shrink">


    				<div class="col-md-4 col-sm-4 col-xs-4 "  ng-repeat="x in userFeed">
                        <div class="whiteBgShad ">


                            <div class="doublequote"><img src="../assets/images/double.png" class="img-rounded teamImage" alt=""></div>
                            <div class="padding20 userFeedImg">
    				   	<img src="{{x.image}}" class="img-rounded teamImage rounded" alt=""></div>
    				   	<div class="editContent padding20" style="margin:10px;">
                            <p class= "text-center " style="    max-height: 100px;
    overflow: hidden;">
                                {{x.description}}
                            </p>
                            <h4>{{x.name}}</h4>
                            <p class= "text-center greenTxt">{{x.company}}</p>
    				   	</div><!-- /.editContent -->


                        </div>
    				</div><!-- /.col-md-3 col -->


    			</div><!-- /.row -->

    		</div><!-- /.container -->

    	</div><!-- /.item -->
<div class="padding20"></div></div>
         <hr>



	<section id="content-1-3" class="content-block content-1-3">

		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">

					     <div clas="underlined-title">
						       <div class="editContent" data-selector="Footers">
			        		      <div class= "text-center ">
                                      <h1>Live Realtor Advice</h1>
                                      <h6>Lorem ipsum dolor sit amet, condectetur adipiscing elit. Mauris viverra rutrum mauris.</h6>
                                  </div>
						       </div>
		        	     </div>
                         <div class="padding20"></div>
				        <div class="services-wrapper">

						       <div class="col-md-4 col-sm-4 col-xs-4 ">
							       <div class="">

                                      <span class="iconShadow">
                                       <img src="../assets/images/shape.png"></span>
							       </div>
							          <div class="editContent greenTxt bold" data-selector="Footers">
								          <h4>Expert Advice</h4>
							          </div>
							          <div class="editContent" data-selector="Footers">
								        <p>Mauris viverra rutrum mauris sed blandit. Etiam accumsan risus condimentum, elementum.</p>
							          </div>
						        </div>

						       <div class="col-md-4 col-sm-4 col-xs-4">
							       <div class="">

								      <span class="iconShadow">
                                       <img src="../assets/images/compare-icon.png"></span>
							       </div>
							       <div class="editContent greenTxt" data-selector="Footers">
								      <h4>Compare</h4>
							       </div>
							       <div class="editContent" data-selector="Footers">
								      <p>Eelementum mauris quis, scelerisque eauris viverra rutrum  ailaw shenib mauris.</p>
							       </div>
						       </div>

						     <div class="col-md-4 col-sm-4 col-xs-4">
							      <div class="">

								     <span class="iconShadow">
                                        <img src="../assets/images/calculator-2.png">
                                      </span>
							      </div>
							      <div class="editContent greenTxt" data-selector="Footers">
								     <h4>Calculators</h4>
							      </div>
							      <div class="editContent" data-selector="Footers">
								     <p>Mauris viverra rutrum mauris sed blandit. Etiam accumsan risus condime.</p>
							      </div>
						     </div>

					   </div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>



  <br>

   <div id="page" class="page">


	<section id="content-1-2" class="content-block content-1-2">
		<div class="container-fluid" id="footer ">
			<!-- Start Row -->
            <div class="padding20"></div>
			<div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class=" editContent">
						<h2 id="textph">Get Our New App</h2>
					</div>

					<div class="editContent">
						<p class="lead" id="textp">Introducing our brand ne IOS and Android apps, with all the features you've grown to love</p>
					</div>
					<div class="editContent">
						<p id="textp">Do you want to download free song for ipod? If so, reading this article could save you from getting in to a lot of trouble! Downloading music to you ipod has more than one pitfall associated with it, and this article will tell you the best way to download free song for Ipoad</p>
					</div>
                    <div class="padding20"></div>
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6 hide-xs">
							<a  href=""><img src="../assets/images/google-play.png"></a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6 col-md-offset-1 hide-xs" >
							<a  href=""><img src="../assets/icons/app-store-badges.svg"></a>
						</div>
					</div>
                    
                    <div class="row" >
						<div class="col-xs-6 visible-xs hide-md hide-sm">
							<a  href=""><img src="../assets/images/google-play.png"></a>
						</div>
						<div class="col-xs-6 visible-xs hide-md hide-sm" >
							<a  href=""><img src="../assets/icons/app-store-badges.svg" style="margin-left:90px;"></a>
						</div>
					</div>
                    
                    <div class="padding20"></div>
                    <div class="padding20"></div>
                    <div class="padding20"></div>
                    <div class="padding20"></div>
                    <div class="row">
                         <div class="col-md-2 col-sm-2 col-xs-2 ">
                        <a href="" ><img src="../assets/icons/app-icon.svg"></a>
                             <p class="text-center whiteTxt">Amakkn</p>
                             </div>
                    </div>
				</div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                       <div class="padding20"></div>
                    <div class="padding20"></div>
					<img class="img-rounded img-responsive" id="cell" src="../assets/images/mobs.png">

				</div>
                
                
                
			<div class="row padding20"></div>
                <div class="row padding20"></div>
           </div>
			<!--// END Row -->
		</div>
	</section><div class="row padding20"></div>
                <div class="row padding20"></div><div class="row padding20"></div>

<!--// END Content Block 1-2 --></div><!-- /#page -->



