<style>
    @import url('../css/home.css')
</style>

<header>
    <img src="../assets/images/image@2x.png" alt="Your city" class="img-responsive" >
        <div class="header-content">
            <div class="header-content-inner">
                <h3>Helping you to find right place</h3>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            Buy
                        </div>
                        <div class="col-md-4 col-sm-4">
                            Rent
                        </div>
                        <div class="col-md-4 col-sm-4">
                            Sell
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <input type="text" class="" placeholder="Search">
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button class="">Property Type</button>
                        </div>
                          <div class="col-md-1 col-sm-1">
                            <button class="">Search</button>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
</header>
