<!DOCTYPE html>
<html ng-app="amakkn">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amakkn</title>
    
      
    <link rel="stylesheet" href="../scripts/Library/bootstrap-3.3.6-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/master.css" >
      
	
  </head>

  <body ng-controller="MainCtrl" class="">
  	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid customHeaderColor">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-3">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#amakkn-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Amakkn</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse whiteTxt " id="amakkn-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Buy <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Rent</a></li>
        <li><a href="#">Sell</a></li>
        <li><a href="#">Mortgage</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Real Estate Companies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Sign In | Sign Up</a></li>
          <li class="active"><a href="#">+ List Your Property</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
    <div class="row greyBtmBorder">
      <div class="container-fluid"></div>
      
      
      
    </div>
      
      
      
      <footer class="navbar-default navbar-fixed-bottom">
          
        <div class="container-fluid greyBg greyBtmBorder">
            <div class="row">&nbsp;</div>
            <div class="col-md-offset-2 col-md-2 col-sm-6">
                <ul class="">
                    <li>Top Real Estate Markets</li>
                    <li>&nbsp;</li>
                    <li>San Diego real estate</li>
                    <li>Miami real estate</li>
                    <li>Chicago real estate</li>
                    <li>Las Vegas real estate</li>
                    <li>Queens real estate</li>
                    <li>Austin real estate</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <ul >
                    <li>Explore Amakkn</li>
                    <li>&nbsp;</li>
                    <li>Homes for Sale</li>
                    <li>Rentals</li>
                    <li>Houses for Rent</li>
                    <li>Apartments for Rent</li>
                    <li>Real Estate Advice</li>
                    <li>Real Estate Apps</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <ul >
                    <li>For Professionals</li>
                    <li>&nbsp;</li>
                    <li>Stats &amp; Trends</li>
                    <li>Tools &amp; Extras</li>
                    <li>Home Price Maps</li>
                    <li>U.S. Property Records</li>
                    <li>Popular Counties</li>
                    <li>Rental Communities</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <ul >
                    <li>About Amakkn</li>
                    <li>&nbsp;</li>
                    <li>About</li>
                    <li>About Zillow Group</li>
                    <li>Careers</li>
                    <li>Investor Relations</li>
                    <li>Advertising Terms</li>
                    <li>Privacy</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid"> 
          <div class="col-md-offset-2 col-md-3  col-sm-6">Copyright 2016 Amakkn, All Rights Reserved.</div> 
          <div class="col-md-2 col-sm-6"> </div>
            <div class="col-md-5 col-sm-6">Desktop Site |  Leave Feedback |  Terms of Use |  Privacy Policy</div>
        </div>
      
      </footer>
      <!-- Importing Javascript libraries -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../scripts/Library/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
      <script src="../scripts/Library/node_modules/angular/angular.js"></script>
      <script src="../scripts/Application/app.js"></script>
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      <!--Ends Importing Javascript libraries -->
      
  </body>

</html> 