<!DOCTYPE html>
<html ng-app="amakkn">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amakkn</title>


    <link rel="stylesheet" href="../scripts/Library/bootstrap-3.3.6-dist/css/bootstrap.min.css" >
      <link rel="stylesheet" href="../scripts/Library/bootstrap-select-1.10.0/dist/css/bootstrap-select.css" >
      <link rel="stylesheet" href="../scripts/Library/Hover-master/css/hover-min.css" >
      <link rel="stylesheet" href="../scripts/Library/node_modules/angular-material/angular-material.min.css" >
    <link rel="stylesheet" href="../css/master.css" >
 <link rel="stylesheet" href="../css/footer.css" >


  </head>

  <body data-ng-app="amakknApp" ng-controller="homeCtrl" class="">
  	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid customHeaderColor">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-3">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#amakkn-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#index"><img src="../assets/images/logo-header.svg" alt="Amakkn"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse whiteTxt " id="amakkn-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#buy" class="hvr-underline-reveal">Buy <span class="sr-only">(current)</span></a></li>
        <li><a href="#rent" class="hvr-underline-reveal">Rent</a></li>
        <li><a href="#sell" class="hvr-underline-reveal">Sell</a></li>
        <li><a href="#mortgage" class="hvr-underline-reveal">Mortgage</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle hvr-underline-reveal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Real Estate Companies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle hvr-underline-reveal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li><span><a href="#login" class="hvr-underline-reveal">Sign In</a> | <a href="#signUp" class="hvr-underline-reveal">Sign Up</a></span></li>
          <li class="highLightGreen"><a href="#listProperties" class="hvr-underline-reveal ">+ List Your Property</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="row container-fluid" data-ng-view>
    </div>




  <footer class="navbar-default ">

        <div class="container-fluid greyBg greyBtmBorder ">
            <div class="row">&nbsp;</div>
            <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 col-sm-6 links">
                <ul id="cssmenu">
                    <li class="footerColHeaders">Top Real Estate Markets</li>

                    <li><a href="#">San Diego real estate</a></li>
                    <li><a href="#">Miami real estate</a></li>
                    <li><a href="#">Chicago real estate</a></li>
                    <li><a href="#">Las Vegas real estate</a></li>
                    <li><a href="#">Queens real estate</a></li>
                    <li><a href="#">Austin real estate</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">Explore Amakkn</li>

                    <li><a href="#">Homes for Sale</a></li>
                    <li><a href="#">Rentals</a></li>
                    <li><a href="#">Houses for Rent</a></li>
                    <li><a href="#">Apartments for Rent</a></li>
                    <li><a href="#">Real Estate Advice</a></li>
                    <li><a href="#">Real Estate Apps</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">For Professionals</li>

                    <li><a href="#">Stats &amp; Trends</a></li>
                    <li><a href="#">Tools &amp; Extras</a></li>
                    <li><a href="#">Home Price Maps</a></li>
                    <li><a href="#">U.S. Property Records</a></li>
                    <li><a href="#">Popular Counties</a></li>
                    <li><a href="#">Rental Communities</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">About Amakkn</li>

                    <li><a href="#">About</a></li>
                    <li><a href="#">About Zillow Group</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Advertising Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="container-fluid copyRight">
            <div class="col-md-offset-2 col-md-3  col-sm-6">Copyright 2016 <a href="#">Amakkn</a>, All Rights Reserved.</div>
          <div class="col-md-2 col-sm-6"> </div>
            <div class="col-md-5 col-sm-6">Desktop Site |  <a href="#">Leave Feedback</a> |<a href="#">  Terms of Use </a>|<a href="#">  Privacy Policy</a></div>
        </div>

      </footer>
      <!-- Importing Javascript libraries -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../scripts/Library/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
      <script src="../scripts/Library/bootstrap-select-1.10.0/dist/js/bootstrap-select.js"></script>
      <script src="../scripts/Library/node_modules/angular/angular.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
      <script src="../scripts/Library/node_modules/angular-material/angular-material.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
      <script src="../scripts/Library/imageGrid.js"></script>

       <!-- Importing App contollers & services -->
      <script src="../scripts/Application/amakknApp.js"></script>
      <script src="../scripts/Application/Controllers/home.controller.js"></script>
      <script src="../scripts/Application/Controllers/buy.controller.js"></script>
      <script src="../scripts/Application/Controllers/listPropertyies.controller.js"></script>
      <script src="../scripts/Application/Controllers/login.controller.js"></script>
      <script src="../scripts/Application/Controllers/mortgage.controller.js"></script>
      <script src="../scripts/Application/Controllers/rent.controller.js"></script>
      <script src="../scripts/Application/Controllers/sell.controller.js"></script>
      <script src="../scripts/Application/Controllers/signUp.controller.js"></script>



      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
      <!--Ends Importing Javascript libraries -->

  </body>

</html>
