<!DOCTYPE html>
<html ng-app="amakkn" itemscope itemtype="http://schema.org/Article">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 ">
    <title>Amakkn</title>

    <link rel="stylesheet" href="../scripts/Library/bootstrap-3.3.6-dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../scripts/Library/bootstrap-select-1.10.0/dist/css/bootstrap-select.css" >
    <link rel="stylesheet" href="../scripts/Library/Hover-master/css/hover-min.css" >
    <link rel="stylesheet" href="../scripts/Library/node_modules/angular-material/angular-material.min.css" >
    <link rel="stylesheet" href="../css/master.css" >
    <link rel="stylesheet" href="../css/footer.css" >
    <link rel="stylesheet" href="../css/angular-busy.min.css" >

  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
   <link rel="stylesheet" href="../css/rzslider.min.css" >
      <link rel="stylesheet" href="../css/angular-awesome-slider.css" >


  </head>

  <body data-ng-app="amakknApp" ng-controller="homeCtrl" class="index" >
<div cg-busy="{promise:myPromise,message:'Loading',backdrop:true,templateUrl:'loader.html',delay:300,minDuration:700}" >
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid customHeaderColor">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-md-12">
          <div class="col-md-2  noPadding"></div>
    <div class="navbar-header col-md-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#amakkn-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs hidden-md hidden-sm" href="#index"><img src="../assets/images/logo.svg" alt="Amakkn" style="height:150%;"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse whiteTxt col-md-7" id="amakkn-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#buy" class="hvr-underline-reveal" onclick="loader()">Buy <span class="sr-only">(current)</span></a></li>
        <li><a href="#rent" class="hvr-underline-reveal">Rent</a></li>
        <li><a href="#sell" class="hvr-underline-reveal">Sell</a></li>
        <li><a href="#mortgage" class="hvr-underline-reveal">Mortgage</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle hvr-underline-reveal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Real Estate Companies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Edwards And Towers</a></li>
            <li><a href="">Al Ghuroob Real Estate</a></li>
            <li><a href="">Veda Real Estate</a></li>
            <li><a href="">Kirk Dixon Real Estate</a></li>
              <li><a href="">CitiWay Real Estate</a></li>
              <li><a href="">Midmac Real Estate</a></li>
              <li><a href="">Al Mubadarah Real Estate</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle hvr-underline-reveal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="list.html">Agent</a></li>

            <li><a href="#">Realtor</a></li>
              <li><a href="#">Lenders</a></li>
              <li><a href="#">Settings</a></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li ng-hide="loggedIn"><span><a href="#login" class="hvr-underline-reveal" style="padding: 20px 0px;">Sign In</a> | <a href="#signUp" class="hvr-underline-reveal" style="padding: 20px 0px;">Sign Up</a></span></li>
          <li class="dropdown" ng-show="loggedIn">
          <a href="" class="dropdown-toggle hvr-underline-reveal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" style="width:25px; height:25px; background:#fff;color:#ededed;margin:0px auto;border-radius:50%;padding-top: 4%;text-align:center;"></span>  {{loggedName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Chat</a></li>
            <li><a href="">Add Property</a></li>
              <li><a href="">My Favourites</a></li>
              <li><a href="">My Listings</a></li>
              <li><a href="">Wanted Properties</a></li>
              <li><a href="">Compare Lineup</a></li>
              <li><a href="">Call Asking</a></li>
              <li><a href="#profile">Edit Profile</a></li>
              <li><a href="" ng-click="logOut()">SignOut</a></li>
          </ul>
        </li>
          <li class="highLightGreen"><a href="#listYourProp" class="hvr-underline-reveal ">+ List Your Property</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
          </div>
  </div><!-- /.container-fluid -->
</nav>


    <div class="preLoaderContainer" ng-show="stateLoading"><div class="cssload-thecube"><div class="cssload-cube cssload-c1"></div><div class="cssload-cube cssload-c2"></div><div class="cssload-cube cssload-c4"></div><div class="cssload-cube cssload-c3"></div></div></div>

    <div class="row container-fluid bg-white" data-ng-view>
    </div>



  <footer class="navbar-default">


        <div class="container-fluid greyBg">
            <div class="row">&nbsp;</div>
            <div class="col-md-9 col-md-offset-2">
            <div class="col-md-3 col-sm-6 links">
                <ul id="cssmenu">
                    <li class="footerColHeaders">Top Real Estate Markets</li>

                    <li><a href="">San Diego real estate</a></li>
                    <li><a href="">Miami real estate</a></li>
                    <li><a href="">Chicago real estate</a></li>
                    <li><a href="">Las Vegas real estate</a></li>
                    <li><a href="">Queens real estate</a></li>
                    <li><a href="">Austin real estate</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">Explore Amakkn</li>

                    <li><a href="">Homes for Sale</a></li>
                    <li><a href="">Rentals</a></li>
                    <li><a href="">Houses for Rent</a></li>
                    <li><a href="">Apartments for Rent</a></li>
                    <li><a href="">Real Estate Advice</a></li>
                    <li><a href="">Real Estate Apps</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">For Professionals</li>

                    <li><a href="">Stats &amp; Trends</a></li>
                    <li><a href="">Tools &amp; Extras</a></li>
                    <li><a href="">Home Price Maps</a></li>
                    <li><a href="">U.S. Property Records</a></li>
                    <li><a href="">Popular Counties</a></li>
                    <li><a href="">Rental Communities</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 links">
                <ul >
                    <li class="footerColHeaders">About Amakkn</li>

                    <li><a href="">About</a></li>
                    <li><a href="">About Zillow Group</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Investor Relations</a></li>
                    <li><a href="">Advertising Terms</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="container-fluid copyRight" >
            <div class="col-md-offset-2 col-md-4  col-sm-6">Copyright 2016 <a href="" class="blueTxt">Amakkn</a>, All Rights Reserved.</div>
            <div class="col-md-2 col-sm-6" ><a href=""><img src="../assets/icons/fb.png" class=" shapefb"></a>
              <a href=""> <img src="../assets/icons/twitter.png" class=" shapetwiter"></a>
              <a href=""><img src="../assets/icons/googleplus.png" class=" shapegoogle"></a>
              <a href=""><img src="../assets/icons/instagram.png" class=" shapeinst"></a></div>
            <div class="col-md-3 col-sm-6 blueTxt"><a href="" class="blueTxt" >Leave Feedback</a> |<a href="" class="blueTxt">  Terms of Use </a>|<a href="" class="blueTxt">  Privacy Policy</a></div>
        </div>

      </footer>
      <!-- Importing Javascript libraries -->

      <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script src="../scripts/Library/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
      <script src="../scripts/Library/bootstrap-select-1.10.0/dist/js/bootstrap-select.js"></script>

      <script src="../scripts/Library/node_modules/angular/angular.js"></script>
        <script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
      <script src="../scripts/Library/node_modules/angular-material/angular-material.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

      <!--<script src="../scripts/Library/imageGrid.js"></script>-->
      <script src="../scripts/Library/angular-busy.min.js"></script>
    <script src="../scripts/Library/ng-map.min.js"></script>
    <script src="../scripts/Library/rzslider.js"></script>
    <script src="../scripts/Library/angular-sanitize.js"></script>
    <script src="../scripts/Library/angular-awesome-slider.js"></script>
   


       <!-- Importing App contollers & services -->
      <script src="../scripts/Application/amakknApp.js"></script>
      <script src="../scripts/Application/Controllers/home.controller.js"></script>
      <script src="../scripts/Application/Controllers/buy.controller.js"></script>
      <script src="../scripts/Application/Controllers/login.controller.js"></script>
      <script src="../scripts/Application/Controllers/mortgage.controller.js"></script>
      <script src="../scripts/Application/Controllers/rent.controller.js"></script>
      <script src="../scripts/Application/Controllers/sell.controller.js"></script>
      <script src="../scripts/Application/Controllers/signUp.controller.js"></script>
      <script src="../scripts/Application/Controllers/morefilter.js"></script>
      <script src="../scripts/Application/Controllers/toaster.controller.js"></script>
      <script src="../scripts/Application/Controllers/filterBuyPriceRange.js"></script>
      <script src="../scripts/Application/Controllers/listingDetials.js"></script>
      <script src="../scripts/Application/Controllers/pricerange.js"></script>
      <script src="../scripts/Application/Controllers/listView.controller.js"></script>
      <script src="../scripts/Application/Controllers/myListing.controller.js"></script>
      <script src="../scripts/Application/Controllers/myFavourites.controller.js"></script>
      <script src="../scripts/Application/Controllers/listProperty.controller.js"></script>
      <script src="../scripts/Application/Controllers/propertyDetails.controller.js"></script>
      <script src="../scripts/Application/Controllers/propertyCompare.controller.js"></script>

      <script src="../scripts/Application/Directives/passMatch.js"></script>
      <script src="../scripts/Application/Services/http-service.js"></script>
    <!--<script src="../scripts/Application/Services/authentication.service.js"></script>-->
    <script src="../scripts/Application/Directives/google-plus-signin.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX5tLeDluDpavX2EHIzQeGGMI5pBpyliQ&libraries=places&signed_in=true" async defer></script>



      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="../scripts/Application/salvattore.min.js"></script>
        <![endif]-->
      <!--Ends Importing Javascript libraries -->





</div>
  </body>

</html>
