<style>
  @import url('../css/propertytype.css');
  @import url('../css/home.css');
  @import url('../css/completelisting.css');
  @import url('../css/completelistingdetails.css');
  @import url('../css/addfilter.css');
</style>
<div class="padding20"></div>
<div class="padding20"></div>
<div class="container" data-ng-switch on="view.name">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h3>List Your Property</h3>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="stepwizard">
          <div class="stepwizard-row">
            <div class="stepwizard">
              <button type="button" class="btn btn-success btn-circle1"></button>
            </div>
            <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle1"></button>
            </div>
            <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle1"></button>
            </div>
            <div class="stepwizard-step">
              <button type="button" class="btn btn-default btn-circle1" disabled="disabled"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <hr>
  <div ng-switch-default>

    <div class="row ">

      <md-content class="md-padding " style="padding:0px;">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="goto('Resi')" name="Resi" ng-click="selectCategory('1')" class="push-left" style="width:50%;">Residential</md-nav-item>
          <md-nav-item md-nav-click="goto('Comm')" name="Comm" ng-click="selectCategory('2')" style="width:50%;">Commercial</md-nav-item>
        </md-nav-bar>
      </md-content>

    </div>

    <div class="col-md-12">
      <h3 class="property">What type of property would you like to list?</h3>
    </div>
    <div class="padding20"></div>
    <div class="padding20"></div>
    <div class="row propertyborder">
      <div class="col-md-6" ng-repeat="item in propertiesTypeData"  >
        <div class="row " ng-click="selectType(item.key)" >
          <!-- <div class="row bottmborder"> -->
          <div ng-class="getBottmBorder($index, $last)  ? 'row bottmborder' : 'row bottmbordernone'" >
            <div class="col-md-2"  ><img  style="margin-top: 8px;" ng-src={{item.image}} >
            </div>
            <div class="col-md-10 text-left" ><a href="" >{{item.name}}</a>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding20"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-lg btn-success propertbutton" ng-click="nextStep('propAddress')">Continue</button>
      </div>
    </div>
  </div>

  <!-- Mapping property Address -->
  <div data-ng-switch-when="propAddress">
    <div class="row">
      <div class="col-md-12">
        <h3 class="property">Where is your Apartment located?</h3>
      </div>
    </div>

    <div class="row">

        <div class="input-group col-md-12"> <span class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="button">
                                <i class="glyphicon glyphicon-send"></i>
                            </button>
                        </span>
          <input type="text" class="form-control input-lg" ng-model="address" readonly/>

        </div>

    </div>
    <div class="padding20"></div>

    <div class="row " style="border:1px solid #e1e1e1">
      <!--<ng-map zoom="8" center="current-position" scrollwheel="false" zoom-to-include-markers="auto" street-view-control="false">
            <marker position="current-location" draggable="true" ></marker>
        </ng-map>-->
        <ng-map>
          <marker
             centered="true"
             position="current-location"
             draggable="true"
             on-dragend="geocodePosition()" >
          </marker>
        </ng-map>
    </div>
    <div class="padding20"></div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <button class="btn btn-lg btn-success propertbutton" ng-click="nextStep('default')">Back</button>
      </div>
      <div class="col-md-6 ">
        <button class="btn btn-lg btn-success propertbutton" ng-click="nextStep('addPhotos')">Continue</button>
      </div>
    </div>
  </div>

  <!-- Adding Photos -->
  <div data-ng-switch-when="addPhotos">
    <style>
      /*body {
        overflow: hidden;
      }*/
    </style>
    <div class="col-md-6 col-sm-6 col-xs-6 propertyborder colright">
      <div class="row bottmborder ">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>Complete You Listing</h3>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Add Photos</a>
          <p>You can add up to 30 property photos.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
      <div class="row bottmborder1" ng-click="nextStep('addDetails')">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Details</a>
          <p>List your properties amenities, choose visiting hours and add specify anything else you wish!</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Description</a>
          <p>Summarise the highlights of your property. The more detailed and descriptive, the better!</p>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>

      <div class="row bottmborder1 " style="">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Set Price and List Type</a>
          <p>Choose whether this property is to sell / rent and specify your costs!</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 propertyborder colright" style="height:650px;overflow-y:auto;">
      <div class="col-md-12 col-sm-12 col-xs-12"><a href="">Add Photos</a>
        <p>You can add up to 30 property photos.</p>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-27.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-29.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-28.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-27.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-29.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-30.png">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-27.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-29.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-28.png">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-27.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-29.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/rectangle-28.png">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6   ">
          <button type="button" class="btn btn-success" ng-click="nextStep('addDetails')">Done</button>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <button type="button" class="btn btn-default btn-circleplus  "><span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Adding Property Details -->
  <div data-ng-switch-when="addDetails">
    <style>
      /* body{overflow: hidden;} */
    </style>
    <div class="col-md-6 col-sm-6 col-xs-6 propertyborder colright">
      <div class="row bottmborder1 ">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>Complete You Listing</h3>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Add Photos</a>
          <p>You can add up to 30 property photos.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Details</a>
          <p>List your properties amenities, choose visiting hours and add specify anything else you wish!</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
         <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>

      <div class="row bottmborder1 " ng-click="nextStep('addDescription')">
        <div class="col-md-9 col-sm-9 col-xs-9 "><a href="">Property Description</a>
          <p>Summarise the highlights of your property. The more detailed and descriptive, the better!</p>
        </div>

            <div class="col-md-3 col-sm-3 col-xs-3 text-right">
              <button type="button" class="btn btn-default btn-circle"></button>
            </div>
        </div>


      <div class=" row bottmborder1">

        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Set Price and List Type</a>
          <p>Choose whether this property is to sell / rent and specify your costs!</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-default btn-circle"></button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 propertyborder colright">
      <div class="row">

        <div class="col-md-12"> <a href="">Property Details</a>
          <p style="text-align:justify;">Enter the details of your property.</p>
        </div>
      </div>

      <div class="row borderinside">

        <div class="col-md-12 col-sm-6 col-xs-6" ng-repeat="item in roomTypeListData">
          <h4 style="text-align:justify;">{{item.name}}</h4>
          <div ng-init="curPage = item.lowerLimit">
            <div class="pagination pagination-centered">
              <div class="row pagination-controle pagination">
                <div class="col-md-2">
                  <button type="button" class="btn btn-primary btn-pri roomVal" ng-disabled="curPage == item.lowerLimit" ng-click="curPage=curPage-1" value="{{item.key}}:{{curPage}}" > -</button>
                </div>

                <div class="col-md-6 addspan"> {{curPage}} {{item.name}} </div>

                <div class="col-md-2 ">
                  <button type="button" class="btn btn-primary next" ng-disabled="curPage == item.upperLimit" ng-click="curPage= curPage - (-1)">+ </button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 buttonleft">
            <button class="btn btn-success" type="button" ng-click="updateRooms()">Save Changes</button>
          </div>
        </div>

      </div>
      <div class="row borderinside">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="buttonleft">AMENITIES</h4>
          <div class="buttonleft contentMarginBottom" id="amenities">
            <button type="button" class="btn btn-round color2" ng-click="clickedBtn($index)" ng-repeat="item in amenityListData" ng-class="{color3: $index == selectedBtn}" value="{{item.key}}">{{item.name}}</button>
          </div>
        </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 buttonleft">
            <button class="btn btn-success" type="button" ng-click="updateAmenities()">Save Changes</button>
          </div>
        </div>
      </div>
      <div class="row borderinside">
        <h4 class="buttonleft">Features</h4>
        <div class="row"></div>

        <div class="row buttonleft" style="position: relative" ng-repeat="item in x">
          <div ng-if="item.name !== 'Frontispiece' ">
            <h4>{{item.name}}</h4>
            <br><br>
            <div class="row" style="margin-right: 10px;">
              <div class="col-md-12">
                <input ng-model="item.value" class="slidersCls" type="text" slider options="item.options" value="item.key"/>
              </div>
            </div>
            <br>
          </div>
          <div ng-if="item.name == 'Frontispiece' ">
            <h4>{{item.name}}</h4>
            <br>
            <div class="row" >
              <div class="col-md-12">
                <button type="button" class="btn btn-round color2" ng-click="clickedBtn($index)" ng-repeat="item in frontispicesList" ng-class="{color3: $index == selectedBtn}">{{item}}</button>
              </div>
            </div>

          </div>
        </div>



        <h4 class="buttonleft">Visiting Hours</h4>
        <div class="row"></div>

        <br>
        <div class="row">
          <div class="col-md-12">
            <input ng-model="value4" type="text" id="mySlider2" class="visitHrs" slider options="options" />
          </div>

        </div>
        <hr>
        <div class="row buttonleft" id="seleDays">
          <h4>SELECT DAYS </h4>
          <button type="button" class="btn btn-round color2" ng-click="clickedBtn($index)" ng-repeat="item in daysList" ng-class="{color3: $index == selectedBtn}" value="{{item}}">{{item}}</button>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 buttonleft">
            <button class="btn btn-success" type="button" ng-click="updateFeatures()">Save Changes</button>
          </div>
        </div><hr>

           </div>
 <div class="row borderinside">
        <div class=" buttonleft">
          <h4>ADD FLOOR PLAN</h4>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-default btn-circleplus  "><span class="glyphicon glyphicon-plus"></span>
            </button>
            <p style="text-align:justify;">Add .pdf or .image</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/picture.png">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/picture.png">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/picture.png">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/picture.png">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/picture.png">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4"><img src="../assets/images/picture.png">
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6 buttonleft"><button class="btn btn-success" type="button">Save Changes</button>
            </div>
          </div>
        </div>

        <div class="row buttonleft">
          <h4>CONTACT NUMBER</h4>
          <div class="form-group ">
            <div class="input-group form-group profiletextbox" id="otp-group" style="width:500px;">
              <div class="">
                <!--<md-select name="countryCode" class="form-control  " placeholder="Country" style="min-width:20%;width:25%; color:#6dc0ce">KSA +966 </md-select>-->
                    <md-select name="countryCode" class="form-control" ng-model="countryCodes.country_code" placeholder="Country"  style="min-width:20%;width:25%; color:#6dc0ce" data-ng-change="selectedCode(countryCodes)" id="num">
                        <md-option ng-value="codes.country_code" ng-repeat="codes in countryCodes" >{{codes.country_code +' '+codes.country_isd_code}}</md-option>
                    </md-select>
              </div>
              <input type="number" class="form-control" aria-label="..." placeholder="Mobile Number*" maxlength="12" required name="phone" style="width:73%;" ng-model="userForm.phone"> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 buttonleft">
            <button class="btn btn-success" type="button" ng-click="updateContact()">Save Changes</button>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6  "><a href="" class="btn btn-default">Suspend Open Viewings</a>
          </div>
        </div>
      </div><div class="padding20"></div>

    </div>


  </div>

<!-- Adding Property Description -->
<div data-ng-switch-when="addDescription">
  <div class="col-md-6 col-sm-6 col-xs-6 propertyborder colright" >
    <div class="row bottmborder1 ">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Complete You Listing</h3>
      </div>
    </div>
    <div class="row bottmborder1">
      <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Add Photos</a>
        <p>You can add up to 30 property photos.</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right">
        <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
    <div class="row bottmborder1">
      <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Details</a>
        <p>List your properties amenities, choose visiting hours and add specify anything else you wish!</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right">
        <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
    <div class="row bottmborder1">
      <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Description</a>
        <p>Summarise the highlights of your property. The more detailed and descriptive, the better!</p>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 text-right">
        <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>

    <div class="row bottmborder1" ng-click="nextStep('setPrice')">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Set Price and List Type</a>
        <p>Choose whether this property is to sell / rent and specify your costs!</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right">
        <button type="button" class="btn btn-default btn-circle"></button>
      </div>
    </div>
  </div>
  <div class="col-md-6 propertyborder colright" style="min-height: 378px;">
    <div class="col-md-12"><a href="">Property Description</a>
      <p>Enter the description of your property in 600 characters.</p>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="About your property in 600 characters." style="min-height: 211px;" ng-model="userForm.description"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-success" ng-click="nextStep('setPrice')">Save Changes</button>
      </div>
      <div class="col-md-6">
        <p class="pull-right"> 500 Characters Remaining</p>
      </div>
    </div>
<div class="padding20"></div>
  </div>
</div>

<!-- Setting price -->
<div data-ng-switch-when="setPrice">
  <div>
    <div class="col-md-6 col-sm-6 col-xs-6 propertyborder colright">
      <div class="row bottmborder1 ">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>Complete You Listing</h3>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Add Photos</a>
          <p>You can add up to 30 property photos.</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Details</a>
          <p>List your properties amenities, choose visiting hours and add specify anything else you wish!</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Property Description</a>
          <p>Summarise the highlights of your property. The more detailed and descriptive, the better!</p>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
         <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>

      <div class="row bottmborder1">
        <div class="col-md-9 col-sm-9 col-xs-9"><a href="">Set Price and List Type</a>
          <p>Choose whether this property is to sell / rent and specify your costs!</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 text-right">
          <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-6 propertyborder colright" style="min-height: 378px;" >
      <h3>Listing Type</h3>
      <h6>Select the listing of your property and set price</h6>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-lg" ng-class="{false: 'btn-success', true: 'btn-defalut '}[!forSale]"  ng-click="listedFor('1')">For Rent</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-lg" ng-class="{true: 'btn-success', false: 'btn-defalut '}[!forSale]"  ng-click="listedFor('2')">For Sale</button>
        </div>
      </div>
      <div class="padding20"></div>
      <div class="row" ng-show="forSale">
        <div class="col-md-3">Price</div>
        <div class="col-md-9">
          <input type="number" class="form-control sellingPrice" aria-label="..." placeholder="" maxlength="12" required >
        </div>
      </div>
      <div class="row marginT20" ng-hide="forSale">
        <div class="col-md-3" >Yearly</div>
        <div class="col-md-9" >
          <input type="number" class="form-control rentalPrice" aria-label="..." placeholder="" maxlength="12" required  >
        </div>
        <div class="col-md-3" >6 Months</div>
        <div class="col-md-9">
          <input type="number" class="form-control rentalPrice" aria-label="..." placeholder="" maxlength="12" required >
        </div>
        <div class="col-md-3" >Monthly</div>
        <div class="col-md-9" >
          <input type="number" class="form-control rentalPrice" aria-label="..." placeholder="" maxlength="12" required  >
        </div>

        <div class="col-md-3" >Weekly</div>
        <div class="col-md-9" >
          <input type="number" class="form-control rentalPrice" aria-label="..." placeholder="" maxlength="12" required  >

        </div>
        <div class="col-md-3" >Weekend</div>
        <div class="col-md-9" >
          <input type="number" class="form-control rentalPrice" aria-label="..." placeholder="" maxlength="12" required >
        </div>
        <div class="col-md-3" >Daily</div>
        <div class="col-md-9" >
          <input type="number" class="form-control rentalPrice" aria-label="..." placeholder="" maxlength="12" required >
        </div>
      </div>
        <div class="row">
            <div class="col-md-3 marginTB20">
              <button class="btn btn-lg btn-success propertbutton" ng-click="updatePrice()">Save Changes</button>
            </div>
        </div>
    </div>
  </div>
  <div class="row" style="clear: both;padding-top: 100px;">
    <div class="col-md-3">
      <button class="btn btn-lg btn-success propertbutton" ng-click="publishProp()">Publish my Listing</button>
    </div>
    <div class="col-md-6 ">
      <button class="btn btn-lg btn-default ">Preview</button>
    </div>
  </div>
</div>

</div>
<div class="padding20"></div>
<div class="padding20"></div>
