<style>
    @import url('../css/list.css');
    @import url('../css/home.css');
    @import url('../css/loginSignup.css');
    @import url('../css/grid.css');
</style>

<div>

    <div class="padding20"></div>
    <div class="padding20"></div>
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 ">
                <h3 class="listp">Properties for Sale Hammza Street, Dubai City, UAE</h3>
                <p class="listh">324 Apartments in 126 new projects |<a href=""> 9426 Resale apartments</a>
                </p>
            </div>

            <div class="col-sm-6 text-right">
                <div class="col-md-3 col-md-offset-1 mapbutton ">
                    <h4 class="listh">Display:</h4>
                </div>
                <div class="col-md-4 mapbutton">
                    <button type="button" class="btn  btn-default">List</button>
                    <a href="#listMap"><button type="submit" class="btn btn-success">Map</button></a>
                </div>
                <div class="col-md-4  mapbutton">
                    <button type="submit" class="btn btn-success"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3  ">
                <h4>Sort By:</h4>
            </div>
            <div class="col-md-9  ">
                <div class="dropdown ">
                    <button class="btn btn-default dropdown-toggle previous" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Newest
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" ng-repeat="item in propertiesData">
                <div class="card card-background">
                    <div><img class="imgresponsive" ng-src={{getImage(item.photos)}} />
                    </div>
                    <div class="content">
                        <a href="#" class="pull-right">
                            <img class="pullpadding imgshape" src="../assets/icons/shape.svg">
                        </a>
                    </div>
                    <div class="footer">
                        <div class="author">
                            <button class="btn btn-success btn-xs"> FOR {{item.listedFor | uppercase}} </button>
                            <button class="btn btn-success btn-xs"> OPEN VIEWING</button>
                            <button class="btn btn-danger btn-xs"> COMPARE</button>
                            <a href="#">
                                <h3 class="price">{{item.priceRent['Yearly'] | currency:"$":0}}</h3>
                                <p class="pullp">4 Bedroom {{item.propertyTypeName}} </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row gallery-bottom">
            <div class="col-sm-6">
                <ul class="pagination">
                    <li class="previous ">
                        <a href="" aria-label="Previous" style="border-radius: 3px; background-color: #24c969;">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="active"><a href="">1</a>
                    </li>
                    <li><a href="">2</a>
                    </li>
                    <li><a href="">3</a>
                    </li>
                    <li><a href="">4</a>
                    </li>
                    <li><a href="">5</a>
                    </li>
                    <li>
                        <a href="" aria-label="Next" style="border-radius: 3px;background-color: #24c969;">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 text-right">
                <em> 1 to 30 of {{propertiesCount}} Results</em>
            </div>
        </div>
    </div>
