<style>@import url('../css/profile.css');
      @import url('../css/home.css');
      @import url('../css/loginSignup.css')
</style>




<div class="container greyBtmBorder" >
<div class="padding20"></div>
     <div class="padding20"></div>


<div class="container">

    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="../assets/icons/sendil.JPG" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle text-center">
					<div class="profile-usertitle-name">
						Sendil Kumar
					</div>
					<div class="profile-usertitle-job">
						Belfast, N. Ireland, United Kingdom<br>
                        <a href="">Standard User</a> • Since July 2015
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->

				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<span class="icon-bubble2"></span>
							Inbox <span class="label label-danger pull-right">2</span></a>
						</li>
						<li>
							<a href="#">
							<span class="icon-bubble2"></span>
							Add Property </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<span class="glyphicon glyphicon-heart-empty"></span>
							My Favourites <span class="label label-danger1 pull-right">9</span></a>
						</li>
						<li>
							<a href="#">
							<span class="icon-home"></span>
							My Listings<span class="label label-danger2 pull-right">4</span> </a>
						</li>
                        <li>
							<a href="#">
							<span class="icon-coin-dollar"></span>
							Wanted Properties <span class="label label-danger3 pull-right">5</span></a>
						</li>
                        <li>
							<a href="#">
							<span class="icon-balance-scale"></span>
							Compare Lineup<span class="label label-danger4 pull-right">6</span></a>
						</li>
                        <li>
							<a href="#">
							<span class="icon-phone"></span>
							Call Asking <span class="label label-danger4 pull-right">3</span></a>
						</li>


					</ul>


				</div>
                <div class="profile-sidebar1"><a href="#">
							<span class="icon-pen-angled"></span>
							Edit Profile </a></div>
				<!-- END MENU -->
			</div>
		</div>


		<div class="col-md-9" >
             <h1>Edit Your Profile</h1>
            <hr>

                 <div class="row ">
                      <div class="col-md-8 col-md-offset-1 colborder " >
                           <form name="signUp" novalidate ng-submit="addName()">
                                 <div class="form-group" ng-class="{ 'has-error' : signUp.name.$invalid && !signUp.name.$pristine }" id="name-group">
                                 <input type="text" class="form-control marginTB20" name="name" placeholder="Name*"  required maxlength="25" ng-model="userForm.name">
                                 <p ng-show="signUp.name.$invalid && !signUp.name.$pristine" class="help-block text-left">You name is required.</p>
                                 </div>
                                 <div class="form-group" ng-class="{ 'has-error' : signUp.email.$invalid && !signUp.email.$pristine }" id="email-group">
                                 <input type="email" class="form-control " name="email" placeholder="Email*" required ng-model="userForm.email" maxlength="30">
                                 <p ng-show="signUp.email.$invalid && !signUp.email.$pristine" class="help-block text-left">Enter a valid email.</p>
                                 </div>
                                 <div class="input-group form-group form-control" id="otp-group">
                                 <span class="input-group-addon"  style="width:10%;" id="input-back">User  Type:</span>
                                 <md-select class="form-group " name="userType" ng-model="userForm.userType" aria-label="..">
                                 <md-option value="1" >Normal User</md-option>
                                 <md-option value="2">Broker &amp; Owner</md-option>
                                 </md-select>
                                 </div>
                                 <button class="btn btn-default greenBtn marginTB20" type="submit" ng-disabled="signUp.$invalid">
                                   Next
                                 </button>

                           </form>
                       </div>
                </div>


            <div class="padding20"></div>
            <div class="padding20"></div>

               <div class="row">
                    <div class="col-md-8 col-md-offset-1 colborder">     <div class="padding20"></div>
                         <div class="input-group form-group" ng-class="{ 'has-error' : signUp.phone.$invalid && !signUp.phone.$pristine }" id="otp-group">
                              <div class="" >
                                   <md-select name="countryCode" class="form-control" ng-model="userForm.codes" placeholder="Country"  style="min-width:20%;width:25%; color:#6dc0ce" >
                                   <md-option ng-value="codes.country_code" ng-repeat="codes in countryCodes">{{codes.country_code +' '+codes.country_isd_code}}</md-option>
                                   </md-select>
                              </div>

                                   <input type="tel" class="form-control" aria-label="..." placeholder="Mobile Number*" maxlength="12" required name="phone" ng-model="userForm.phone" style="width:73%;">
                                   <span class="input-group-btn ">
                                   <a href="#" class="btn btn-success" id="verified"><span class="glyphicon glyphicon-ok-circle"></span>  Verified</a>
                                   </span>
                        </div>
                              <h5>We will send you a one-time password to verify your number.</h5>
                               <span class="input-group-btn ">
                                     <button class="btn btn-default    " type="submit" id="input-otp" ng-click="getOTP()" ng-disabled="isDisabled">Send OTP</button>
                               </span>     <div class="padding20"></div>
                   </div>
               </div>


            <div class="padding20"></div>
            <div class="padding20"></div>

              <div class="row">
                   <div class="col-md-8 col-md-offset-1 colborder">
                        <form name="signUp" novalidate ng-submit="setPass()">
                              <div class=" text-center" >
                                   <div class="row loginTextColor ">
                                        <h3>Choose Password</h3>
                                        <p>Must be 8 characters, letters (small and capital) + numbers.</p>
                                   </div>
                              </div>

                              <input type="password" class="form-control" id="pw1" name="pw1" placeholder="Password*" maxlength="12" required ng-model="userForm.password"/>

                              <input type="password" class="form-control marginTB20" id="pw2" placeholder="Retype Password*" name="pw2" maxlength="12" required ng-model="pw2" pw-check="pw1"/>

                             <p class="text-left" style="color:#a94442;" ng-show="signUp.pw2.$error.pwmatch && signUp.pw2.$invalid">
                             Re-type same as in password.
                             </p>

                             <p class="text-center">By clicking below, you agree to Amakkn Terms of Use* and Privacy Policy</p>

                             <button class="btn btn-default greenBtn" type="submit" ng-disabled="signUp.$invalid">
                             Confirm
                             </button>
                        </form>     <div class="padding20"></div>
                  </div>
            </div>
        </div><!--col-9 close-->
	</div><!--profile div close-->
 </div><!--container Close-->


</div>
