<div class="container greyBtmBorder">
    <div class="row">
  <div class="col-md-6 col-sm-6"><h3>Properties for Sale in Hamza Street, Dubai City, UAE</h3>
        <p>324 apartments in 126 New Projects |<a  href="">9426 Resale apartments</a> </p></div>
  <div class="col-md-6 col-sm-6">Display:

                  <button type="button" class="btn btn-white btn-cons">List</button>
                  <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                  <button type="button" class="btn btn-success btn-cons">Map</button>
                  <!-- Contextual button for informational alert messages -->
                  <button type="button" class="btn btn-info btn-cons">Sort</button>
                  <!-- Indicates caution should be taken with this action -->

                  <button type="button" class="btn btn-success btn-cons">Map</button>
		  </div>
</div>
     <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">

                    <p><a href="" class="label label-danger">FOR SALE</a>
                    <a href="" class="label label-default">OPEN VIEWING</a>
                    <a href="" class="label label-default">COMPARE</a></p>
                    <h4>$4095</h4>
                    <p>424 W 52ND Street #3 . 5 Bed, 3 Bath, 2201 sqft Apartment</p>
                </div>
                <img src="http://lorempixel.com/400/300/sports/1/" alt="...">
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">

                    <p><a href="" class="label label-danger">FOR SALE</a>
                    <a href="" class="label label-default">OPEN VIEWING</a>
                    <a href="" class="label label-default">COMPARE</a></p>
                    <h4>$4095</h4>
                    <p>424 W 52ND Street #3 . 5 Bed, 3 Bath, 2201 sqft Apartment</p>
                </div>
                <img src="http://lorempixel.com/400/300/sports/1/" alt="...">
            </div>
        </div>


        <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">

                    <p><a href="" class="label label-danger">FOR SALE</a>
                    <a href="" class="label label-default">OPEN VIEWING</a>
                    <a href="" class="label label-default">COMPARE</a></p>
                    <h4>$4095</h4>
                    <p>424 W 52ND Street #3 . 5 Bed, 3 Bath, 2201 sqft Apartment</p>
                </div>
                <img src="http://lorempixel.com/400/300/sports/1/" alt="...">
            </div>
        </div>



    </div>

    <div class="page-nation">
                                        <ul class="pagination pagination-large">
                                        <li class="disabled"><span>«</span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li><a href="#">8</a></li>
                                        <li><a href="#">9</a></li>
                                        <li class="disabled"><span>...</span></li><li>
                                        <li><a rel="next" href="#">Next</a></li>

                                     </ul>
                            </div>
</div>
