<style>
    @import url('../css/profilelisting.css');
  @import url('../css/home.css');
       @import url('../css/list.css');

    @import url('../css/loginSignup.css');
</style>

<div class="padding20"></div><div class="padding20"></div>



<div class="container containerback ">

    <div class="col-md-12" >
        <div class="row  ">

        <div class="row">
        <div class="col-md-6"><h3>Please select the properties to get Q R Code</h3></div>
            <div class="col-md-2 col-md-offset-4 pull-right"><a href="#" class="btn btn-lg btn-default proborder"><span class="glyphicon glyphicon-remove"></span></a></div>
        </div><hr>
        <div class="row">
        <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" /></div>
               <div class="content">


                   <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>

                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
       <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                        <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
       <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" /></div>
               <div class="content">

                    <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>

                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
            <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" /></div>
               <div class="content">


                         <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>

                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                       <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
        <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                      <img class="pull-right qrcode" src="../assets/icons/qrcode.png">



            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
        <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                        <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>

            <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" /></div>
               <div class="content">


                        <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>

                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/gallery/8.jpg" /></div>
               <div class="content">


                     <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
                   <a href="#" class="btn btn-lg btn-default proborder"> <span class="glyphicon glyphicon-ok-circle proborder"></span></a>

                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
        <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                       <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
       <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                       <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>

            <div class="col-md-3"><div class="card card-background  ">
           <div><img class="imgresponsive" src="../assets/images/mask.png" /></div>
               <div class="content">


                       <img class="pull-right qrcode" src="../assets/icons/qrcode.png">


            </div>
            <div class="footer">
               <div class="author">
                   <button class="btn btn-success btn-xs"> FOR SALE</button>
          <button class="btn btn-default btn-xs proborder" ><img src="../assets/icons/mask4.png"></button>
                    <a href="#">
                       <h3 class="price">$85821</h3>
                       <p class="pullp">424 W 52ND Street #3  •  5 Bed, 3 Bath </p>
                    </a>
                </div>
            </div>
           </div>
            </div>
        </div>
    </div><!--col-12 close-->








</div>
